[2019-03-19 09:55] fashxp opened #1 "[Structure] place bundle code directly in src folder (not sub folders)"

[2019-03-19 09:55] fashxp opened #2 "Asset relations within localized fields are always empty"

[2019-03-19 09:56] fashxp opened #3 "[Config] Add workspace config to php-file too + add command to rebuild database workspace entries"

[2019-03-19 10:15] fashxp commented on #2
asset workspace definition necessary.

[2019-03-19 10:15] #2 closed

[2019-03-20 09:24] dpfaffenbauer opened #4 "Don't place \Pimcore::getContainer calls into the boot function of the Bundle"
When running tests, it might be possible that this doesn't work since the Kernel will be set later during the init of the test suite.

Move those EventHandlers to services directly.

https://github.com/pimcore/data-hub/blob/master/src/Pimcore/Bundle/DataHubBundle/PimcoreDataHubBundle.php#L40

[2019-03-20 09:25] dpfaffenbauer opened #5 "Make Query Operators injectable to the container and load them from the container"
The intention should be quite clear: It should be possible to inject whatever I want to those operators.

https://github.com/pimcore/data-hub/tree/37f79ad6b027a83d26521290fa3b96c56288dd6a/src/Pimcore/Bundle/DataHubBundle/GraphQL/Query/Operator

[2019-03-20 09:26] dpfaffenbauer opened #6 "Make Resolvers injectable to the container and load them from the container"
The intention should be quite clear: It should be possible to inject whatever I want to those resolvers.

https://github.com/pimcore/data-hub/tree/db4379af8ac087b9f063437d3b388c86c4ba2442/src/Pimcore/Bundle/DataHubBundle/GraphQL/Resolver

[2019-03-20 09:33] dpfaffenbauer opened #7 "Remove usage of Pimcore::getContainer"
Overall, remove the usage of the global container. This is considered to be an anti pattern and only is in Pimcore for special legacy reasons.

 - Some of the calls are inside containers that could be replaced with action-arguments or `$this->get` calls. ($this->get will also break in Symfony 4 when the service is private, but its still more symfony like)
 - Some others are in resolvers, types and

[2019-03-20 14:03] #1 closed

[2019-03-20 15:24] weisswurstkanone commented on #3
Part 1 is done.
How do you want to handle the import?
- overwrite all workspace settings?
- only specific ones ?
- merge them maybe ?

[2019-03-21 08:37] fashxp commented on #3
I would say, config file is master and only source of workspaces. db tables are just more like a search index.
therefore command should overwrite all workspace settings.

[2019-04-25 15:03] NiklasBr opened #9 "Lowercasing image fields always, is it really required?"
Maybe a bug?

When I'm creating an image field in the Schema called `mainImageThumbnail` I noticed that it became `mainimagethumbnail`.

There is likely a good reason for this, but it is a bit odd when `creationDate`, and some other fields can retain their camelcasing.

"Main Image Thumbnail" &rarr; "main_image_thumbnail" works (I personally prefers snakes, but our coding style asks for camels, wh

[2019-04-25 15:24] weisswurstkanone commented on #9
Can you provide a screenshot of your schema definition? You probably talking about an operator, right ?

[2019-04-26 06:44] NiklasBr commented on #9
![Skärmbild (127)](https://user-images.githubusercontent.com/279826/56788327-6f1cf180-67ff-11e9-93b4-d06d74cc5227.png)

[2019-04-29 08:08] weisswurstkanone commented on #9
Actually there is no specific reason for that. Will remove that and just replace special characters.

[2019-04-29 08:21] NiklasBr opened #13 "Thumbnail Transformer is not aware of media queries"
## Steps to reproduce

1. Create a new *Image Thumbnail*
2. Define at least one breakpoint.
3. Run a client query against the thumbnail field.

## Expected result

To either be able to get an entire `<img srcset...>` tag or an array with data objects representing the different image objects (which may include the different paths).

## Actual result

I get the path to one of the thumbnails only.

[2019-04-29 09:16] weisswurstkanone opened #14 "Cache the schema definition"

[2019-04-29 09:17] weisswurstkanone opened #15 "Replace usage of ArrayObject with something like an "ElementDescriptor""

[2019-04-29 09:24] weisswurstkanone commented on #9
todo: search for 2 occurences of $label = strtolower($label) and adapt accordingly

[2019-04-30 14:46] NiklasBr opened #18 "[Question] Progress on fieldcollections/galleries"
We would like to continue improving this bundle, but to avoid doing duplicate work, could you tell us if any work has been done on either *Structured: Field-Collections* or *Media: Image Gallery* object data components?

[2019-05-02 08:05] NiklasBr opened #19 "Query for Objects Asset (image) requries ID"
## Summary

When querying for an `Object` with an image field the query returns `null` for the asset unless the Client Query also requests the `ID` of the object.

## Expected

I expect to be able to get the `mainImage` Asset data even though I do not include `id` in the Client Query.

## To reproduce
This works:
[code]
But this does not:
[code]

[2019-05-02 08:19] fashxp commented on #18
Hi, we would love to see PRs for that. Currently there is no work going on for field collections or image gallery, so just go for it.
Our next sprint for data-hub will start not before in two weeks.

[2019-05-06 08:29] NiklasBr opened #20 "Class panels should not be added to definition"
When defining the Graph QL schema it is possible to add panels to the queyable fields, this has no detrimental effect (that I can find) but they should not be able to de added to the query definition.

![Skärmbild (133)](https://user-images.githubusercontent.com/279826/57214243-ab173a00-6fe9-11e9-98c0-12f16aaf6e1c.png)

[2019-05-06 10:20] NiklasBr commented on #18
Good to know. :)

We have started with an attempt at adding support for `Pimcore\Model\DataObject\ClassDefinition\Data\ImageGallery`

[2019-05-06 15:37] weisswurstkanone commented on #20
Unable to reproduce. How did you accomplish this?

[2019-05-06 16:03] #19 closed

[2019-05-07 06:20] NiklasBr commented on #20
By double-clicking the panel.

[2019-05-07 09:18] weisswurstkanone commented on #20
same for the grid configuration, see https://github.com/pimcore/pimcore/issues/4329

[2019-05-07 09:27] #20 closed

[2019-05-08 08:16] NiklasBr opened #23 "Link type field trows exception"
## Summary

The `Link` type data field on Objects does not work when it has data. If the field is empty on an object it will return `null` as expected, but if there is some link content (text+url) then the server will throw an `UndefinedMethodException`.

## To reproduce

1. Create an object class.
2. Add the *Other: Link* data component.
3. Create an object of the class, but leave the link empty

[2019-05-08 08:45] weisswurstkanone commented on #23
Yeah, they got mixed up, don't know why :-)

[2019-05-08 08:45] #23 closed

[2019-05-10 13:23] NiklasBr commented on #18
As I wrote in the PR, but would like to expand on here, I would love to get some quick initial feedback on the general architecture of the new feature, does it seem like I did it "the Pimcore way" with regards to file placement, code paths and so on?

[2019-05-13 09:32] weisswurstkanone commented on #15
inherits from ArrayObject

[2019-05-13 10:02] weisswurstkanone commented on #18
Added a few comments. The direction looks quite ok so far :-) Many thanks for the great progress!

[2019-05-14 07:32] #18 closed

[2019-05-15 11:29] weisswurstkanone opened #31 "Operator: Support adding a operator via dbl click"

[2019-05-15 14:03] weisswurstkanone commented on #4
see >https://github.com/pimcore/data-hub/issues/7

[2019-05-15 14:03] #4 closed

[2019-05-15 14:14] #7 closed

[2019-05-15 14:17] dpfaffenbauer commented on #7
🎉 🍻

[2019-05-15 14:22] weisswurstkanone commented on #9
changed to:
"MAINIMAGETHUMBNAIL" => "mAINIMAGETHUMBNAIL"
"MAIN IMAGE&THUMBNAIL" => "mAIN_IMAGE_THUMBNAIL"

[2019-05-15 14:22] #9 closed

[2019-05-15 14:34] #15 closed

[2019-05-15 14:59] weisswurstkanone commented on #5
isn't that already the case ?

[2019-05-15 15:04] dpfaffenbauer commented on #5
where do they get injected?

[2019-05-15 15:05] weisswurstkanone commented on #5
maybe a misunderstanding. please provide a short example describing what you want to achieve.

[2019-05-15 15:08] dpfaffenbauer commented on #5
having the possibility to add new Query Operators and inject them using DI

[2019-05-15 15:09] weisswurstkanone commented on #5
adding new operators is possible.

approach is the same as for the grid config dialog.

[2019-05-15 15:11] dpfaffenbauer commented on #5
how? can you describe more detailed?

[2019-05-16 09:55] #31 closed

[2019-05-16 11:42] weisswurstkanone opened #32 "Symfony 4: get rid of deprecations"

[2019-05-16 11:50] #32 closed

[2019-05-16 12:55] weisswurstkanone commented on #6
Note that a resolver belongs to your own implementation of your own custom datatype. How you implement it is up to you. Will add some documentation on how to support a custom datatype, though.

The only reason for that kind of approach is to make the query schema serialable (remove all closures in preparation of https://github.com/pimcore/data-hub/issues/14, also see https://github.com/pimcore/dat

[2019-05-16 13:39] weisswurstkanone opened #33 "Support object bricks"
Key should already contain brickname.

Maybe a place to look at:
https://github.com/pimcore/data-hub/blob/9ed3056864a5e93455c3325a35af73fdf7e4b2dc/src/GraphQL/FieldHelper/AbstractFieldHelper.php#L69

[2019-05-16 13:41] weisswurstkanone opened #34 "Support geographic bounds query datatype"

[2019-05-16 13:41] weisswurstkanone opened #35 "Support geographic polygon query datatype"

[2019-05-16 13:41] weisswurstkanone opened #36 "Support quantity value query datatype"

[2019-05-18 16:53] pspierce opened #37 "empty graphql preview screen"
Using

, no matter how simple my configuration, the graphQL window opens without any content, just the commented out window.
![image](https://user-images.githubusercontent.com/456876/57972630-566daa80-796b-11e9-958e-c5c0ebac810c.png)
![image](https://user-images.githubusercontent.com/456876/57972634-66858a00-796b-11e9-96ab-d607f48a61c6.png)

![image](https://user-images.githubusercontent.com/45687

[2019-05-20 07:09] NiklasBr commented on #37
What happens if you expand the schema to the right on the GraphiQL screen?

It does not look like you are trying to run a query. If you write a query sort of like this and run it:

[code]
Do you get a different error?

[2019-05-20 13:16] #6 closed

[2019-05-21 14:39] weisswurstkanone opened #38 "Add TranslateValue operator"
see https://pimcore.com/docs/5.x/User_Documentation/DataObjects/Grid_Configuration_Operators/Operators/TranslateValue.html

[2019-05-21 14:51] weisswurstkanone commented on #5
as described in the docs mentioned above

[2019-05-21 14:51] #5 closed

[2019-05-24 10:45] weisswurstkanone commented on #37
@pspierce , any updates ?

[2019-05-27 15:03] RobinBrackez opened #39 "Error "type definition ... not found" in advanced many-to-many-fields."
Issue:
Object of type A contains an advanced many to many-relation with object of type B.

You make a data-hub config for type A and you want to display some info of type B.

[code]

This results in the error "type definition B not found". You get this error even without requesting any info of object B.

I found `\Pimcore\Bundle\DataHubBundle\GraphQL\ClassTypeDefinitions::build` to be partly respo

[2019-05-28 08:39] #14 closed

[2019-05-28 10:38] weisswurstkanone commented on #39
Please provide the full stack trace.

Besides that it seems that the sample is not correct.
Should it be rather be something like this ?

{
  getAAA(id: 53) {
    id
    manytomany {
      element {
        ... on object_BBB {
          id
        }
      }
    }
  }
}

where manytomany is the advanced manytomany field.

[2019-05-29 11:52] RobinBrackez commented on #39
I'm sorry, it's an "Advanced Many-To-Many _Object_ Relation", not an "Advanced Many-To-Many Relation".
I did some tests and the "Advanced Many-To-Many Relation" works as you describe in your example (I didn't know I had to add an extra "element" tag).
But the "Advanced Many-To-Many _Object_ Relation" doesn't work.

Stacktrace:
[code]

Objects:
[class_AAA_export.json.txt](https://github.com/pimcore

[2019-05-29 13:32] weisswurstkanone commented on #39
thx for the clarification!

[2019-05-29 13:32] #39 closed

[2019-05-29 14:12] RobinBrackez commented on #39
That works! Thanks for the fix.

[2019-05-31 10:05] #3 closed

[2019-05-31 13:05] weisswurstkanone opened #40 "Add "Alias" operator"

[2019-05-31 13:05] weisswurstkanone commented on #40
same result but different name

[2019-05-31 14:51] weisswurstkanone commented on #38
already implemented,
see https://github.com/pimcore/data-hub/blob/master/doc/graphl/Sample8.md

[2019-05-31 14:51] #38 closed

[2019-06-03 13:42] #33 closed

[2019-06-03 13:42] weisswurstkanone commented on #37
closed due to inactivity

[2019-06-03 13:42] #37 closed

[2019-06-03 14:16] #40 closed

[2019-06-04 10:34] weisswurstkanone opened #41 "Schema definition: omit unnecessary stuff in production mode"
Example: add field description only if in debug mode

[2019-06-04 12:26] weisswurstkanone opened #42 "Support hotspotimage query datatype"

[2019-06-12 15:36] weisswurstkanone opened #43 "Create the basis for mutations"
* create objects
* update objects (support a few datatypes and operators)
* delete objects

* create/read/update/delete assets (at least data + filename)
* create/read/update/delete asset & object folders

[2019-06-13 08:24] fashxp opened #44 "Listings do not deliver data objects below other data objects"
... only data objects that are in folders.

e.g. see category listing in demo-advanced

[2019-06-13 08:42] fashxp commented on #44
query
[code]

[2019-06-13 08:43] fashxp commented on #44
config:
![image](https://user-images.githubusercontent.com/8792145/59417703-021de500-8dc8-11e9-8ba0-c842d652dc66.png)
![image](https://user-images.githubusercontent.com/8792145/59417722-0b0eb680-8dc8-11e9-8a5e-f11623157884.png)

[2019-06-13 10:03] fashxp commented on #44
reason: query table is empty, no datahub problem.

[2019-06-13 10:03] #44 closed

[2019-06-13 12:29] weisswurstkanone opened #45 "Security/Workspace Setttings: CRUD permissions instead of RW"

[2019-06-13 12:31] weisswurstkanone opened #46 "Query + Mutation Events"
maybe
preQuery + postQuery
preMutate + postMutate

[2019-06-13 12:31] weisswurstkanone opened #47 "DOCS: mutation samples"

[2019-06-13 12:34] weisswurstkanone opened #48 "Object/Asset Folder Listing query type"

[2019-06-13 12:37] weisswurstkanone opened #49 "Document query type"
$document->getElement

[2019-06-13 12:37] weisswurstkanone opened #50 "Document mutation type"

[2019-06-13 13:30] weisswurstkanone opened #52 "Support Element Properties"

[2019-06-13 13:30] weisswurstkanone opened #53 "Support Fieldcollection queries"

[2019-06-13 14:50] weisswurstkanone opened #54 "Support image mutation datatype"

[2019-06-14 11:08] NiklasBr commented on #43
If there are no Mutations configured then `GraphQL/Mutation/MutationType.php` method `build()` will throw because: *Warning: ksort() expects parameter 1 to be array, null given*

I'm making a PR.

[2019-06-17 09:11] NiklasBr opened #58 "Pimcore 6 problems, logger: Level "info" is not defined"
Just for the record, this is *very* similar to pimcore/pimcore#4476, but we have never used any translations at all. It might not be a Data-hub issue at all. That said, after upgrading from 5.8.4 to 6.0 everything in Pimcore and Data-hub seems to be working fine, with the exception of actually running queries, which throws this error, either with the graphical interface or direct queries from simp

[2019-06-17 09:30] weisswurstkanone commented on #45
sorry, it is back again :-)

[2019-06-17 11:00] NiklasBr opened #59 "Change Childs to Children to align with Pimcore 6"
With the update to Pimcore 6 the `getChilds()` methods and `childs` attributes (among some other) have changed to the more proper `children`. Doing the same here would be nice,

I'm preparing a PR.

[2019-06-17 11:04] weisswurstkanone commented on #59
thx!

[2019-06-17 11:47] NiklasBr commented on #58
Upon further investigation this probably had zero to do with Data Hub, for some reason the "Home" document/page (id:1) had the Turkish language as a language attribute. Changing that to None fixed it.

Not sure why Data hub seemed to trigger the error though.

[2019-06-17 11:47] #58 closed

[2019-06-17 13:24] weisswurstkanone opened #61 "Support BooleanSelect mutation datatype"

[2019-06-17 13:25] weisswurstkanone opened #62 "Support Video query datatype"

[2019-06-18 07:50] fashxp commented on #48
pemissions: only list folders that have read permission in endpoint workspace definition.

[2019-06-18 07:58] weisswurstkanone opened #63 "Rethink naming conventions"

[2019-06-18 11:29] #45 closed

[2019-06-18 13:15] #41 closed

[2019-06-18 13:23] #62 closed

[2019-06-18 13:47] #59 closed

[2019-06-18 14:15] fashxp commented on #63
maybe a good source: https://graphqlmastery.com/blog/graphql-best-practices-for-graphql-schema-design

`<action><type>Input`
`<action>` is Create, Update or Delete and <type> is the name of the type or entity, which is being updated.

[2019-06-18 14:20] fashxp commented on #63
another thing:
It seems to be best practise that mutations should only ever have one input argument. That argument should be named input and should have a non-null unique input object type.

see also:
https://blog.apollographql.com/designing-graphql-mutations-e09de826ed97
https://medium.com/graphql-mastery/json-as-an-argument-for-graphql-mutations-and-queries-3cd06d252a04

[2019-06-19 06:54] NiklasBr opened #66 "Support Calculated values datatype"
@weisswurstkanone Do you have any internal progress on this? We are considering starting on this feature because we have a use case for it.

[2019-06-19 09:40] weisswurstkanone commented on #66
Currently not top priority. Please go ahead!
What is your plan regarding the schema query type?

[2019-06-19 09:52] NiklasBr commented on #66
Thanks!

No plans regarding schema queries

[2019-06-19 09:55] weisswurstkanone commented on #66
Maybe a scenario for a custom operator ?

[2019-06-21 11:22] #66 closed

[2019-06-21 12:39] #36 closed

[2019-06-25 07:14] NiklasBr opened #71 "Configuration::getByName() returns 500 if not found, 404 better?"
https://github.com/pimcore/data-hub/blob/e9ce1f637cbdc45451efb15df1523b4a74811069/src/Configuration.php#L190-L198

When querying against a configuration that does not exists, this will throw a 500 Internal Server Error: ```Return value of Pimcore\Bundle\DataHubBundle\Configuration::getByName() must be an instance of Pimcore\Bundle\DataHubBundle\Configuration, null returned```

Maybe return a 404 e

[2019-06-25 07:29] #71 closed

[2019-06-25 09:05] #42 closed

[2019-06-25 14:34] weisswurstkanone opened #72 "Optimize generation of class type definitions"

[2019-06-26 08:07] #72 closed

[2019-06-26 09:48] #43 closed

[2019-06-26 10:49] NiklasBr commented on #52
Any progress on this feature? We *might* have a use case for it in a week or so.

[2019-06-26 21:21] brainsbucket opened #76 "Access-Control-Allow-Origin"
First, thanks for this bundle it will be a great feature for pimcore !

Is it possible to add Access-Control-Allow-Origin in order to test on local frontend dev ?

[2019-06-27 12:07] weisswurstkanone commented on #52
Hi Niklas, what would be the actual use case?

[2019-06-27 21:23] brainsbucket commented on #76
I have fix this by extending Pimcore\Bundle\DataHubBundle\Controller\WebserviceController and add
[code]
to the webonyxAction

[2019-06-27 21:23] #76 closed

[2019-06-27 21:26] brainsbucket opened #78 "Fix for the creates mutations"
The creates mutations are not working, this is due to a mistake in the class Pimcore\Bundle\DataHubBundle\GraphQL\Mutation\MutationType on line 186

replace :
`call_user_func_array($resolver, [ $newInstance, $value, $args, $context, $info]);`

By

`call_user_func_array($resolver, [ $value, $args, $context, $info]);`

[2019-06-28 09:03] #54 closed

[2019-06-28 09:21] dvesh3 commented on #78
thanks a lot!

[2019-06-28 09:21] #78 closed

[2019-07-03 14:40] NiklasBr opened #81 "Feature request: Allow filtering via input types"
Today the only way(?) that we can use filtering is via [Filter Listings](https://github.com/pimcore/data-hub/blob/master/doc/graphl/Filtering.md), however, I would like to move these filters into Query variables, like this:

[code]

However, I can't figure out how to do it and I have come to the conclusion that it is probably not possible with today's solution, is it because the dollar sign?

[2019-07-04 08:53] NiklasBr opened #82 "Clarify usage of totalCount"
There are no code comments or clear documentation I can find on the `totalCount` Schema.

For example, the query:

[code]

with query variables:

[code]

returns:

[code]

The number *29* is correct so far as to the total number of `Category` objects, but not the number of returned objects. Is this the expected behaviour: To show the total query-able number of data objects. Or should it calculate

[2019-07-04 08:55] weisswurstkanone commented on #82
totalCount is the number of query-able objects. the number of returned objects is clearly visible anyway.

[2019-07-04 09:00] weisswurstkanone commented on #82
Actually there is a sample, but the link was broken. Updated it just now.

[2019-07-04 09:04] NiklasBr commented on #82
Thanks!

[2019-07-04 09:18] weisswurstkanone commented on #82
would it make sense to replace the example and maybe include this variable stuff + a link to
https://graphqlmastery.com/blog/graphql-quick-tip-how-to-pass-variables-in-graphiql
?

[2019-07-04 10:49] NiklasBr commented on #82
I think the filtering logic example must stay, it is custom to the Pimcore server after all. Though a link to that page would maybe help.

[2019-07-04 13:42] weisswurstkanone commented on #81
Can you give a more detailed example of what your goal would be ?

[2019-07-04 14:01] NiklasBr commented on #81
Today, note that the filter is a hard-coded string:

[code]

There is currently no way to dynamically change a variable due to the `filter` design.

what I want, in short:

[code]

The filter is now an object, or any kind of InputObject.

[2019-07-04 14:05] weisswurstkanone commented on #81
ok I see ... PRs are warmly appreciated :-)

[2019-07-05 12:23] NiklasBr opened #84 "sortBy, database fieldnames and system column names"
Consider the schema:

[code]
With the query:
[code]
With variables:

[code]

This works fine, but when I add the System column **Full Path** to the schema it is not clear how to sort by it, I had assumed that it would be `fullpath` but that is not the case, instead it is not `o_path` either...

To even *know* this I need to know that the GraphQL server is a Pimcore server and I need to intimately

[2019-07-05 12:32] #53 closed

[2019-07-05 12:45] #47 closed

[2019-07-05 13:10] #46 closed

[2019-07-05 13:12] NiklasBr commented on #84
I got a half-baked solution working by changing:

https://github.com/pimcore/data-hub/blob/2d56b21534a0f58fb8e57a2b3fc0cd0abcb60fcf/src/GraphQL/Query/QueryType.php#L203

to

[code]

and query:

[code]
and variables:

[code]

But this solution still requires knowledge about the database schema unfortunately.

[2019-07-05 13:17] weisswurstkanone commented on #84
I guess then sortOrder should be a list of string as well.

[2019-07-05 13:32] NiklasBr commented on #84
True.

Would you consider this change to result in an acceptable API? Might have to live with it for a while...

[2019-07-08 07:51] weisswurstkanone commented on #84
Hi, do you want to create a PR? Otherwise we will put it on the todo list ;-)

[2019-07-08 08:12] NiklasBr commented on #84
I can create a PR today, but I was just asking if you think it is a good idea? :)

API designs like this might have to live a long time, and I was just thinking maybe you had some thoughts about it.

[2019-07-08 08:19] weisswurstkanone commented on #84
Well, I think we cannot meet every expectation. Either you do it in a generic way, i.e. generate a schema on the fly and live with the consequences or add some "magic" which again could be hard to understand. One thing we shouldn't force the user to do is to invest a lot of manual work.

However, for system fields I could imagine some kind of layer. On the oder side, system fields are system speci

[2019-07-08 13:14] #63 closed

[2019-07-10 20:29] brainsbucket opened #88 "Fix for the InputProcessor ManyToOneRelation"
The input processor ManyToOneRelation is not working, to fix it change line 35 :

`$attribute = $this->attributes["attribute"];`
to
`$attribute = $this->getAttribute();`

Thanks for your great work !

[2019-07-11 07:12] #88 closed

[2019-07-11 12:35] NiklasBr commented on #84
Not really. I did some casual research into how others do it, and it seems that `Enums` are quite common, such as [this example](https://github.com/howtographql/graphql-js/blob/master/src/schema.graphql).

So in the end it seems complex arguments are common and I feel confident that this change will not be too odd.

[2019-07-16 09:52] brusch opened #93 "CSV Export Support"

[2019-07-16 09:53] brusch opened #94 "XML Export Support"

[2019-07-25 14:17] not4fame opened #296 "GraphQl (DataHub) Elasticseach(advenced-object-search) integration"
Feature Request

I would like to ask about the possible integration of Your graphQl solution (DataHub) with Elasticsearch (advanced object search). Some time ago I joined Your discussion regarding graphQl topic, and even came out with my own solution, the reason that I stoped, was that in my opinion (and also clients for which I propose this solution) it does not make too much sense to do it on to

[2019-08-12 12:34] NiklasBr commented on #53
@weisswurstkanone
I have a stupid question, but how is this supposed to work? Do you have any examples?

[2019-08-12 13:26] weisswurstkanone commented on #53
Basically just as for relations. Note that currently you cannot restrict access to specific fieldcollection attributes.

Example:
{
  getFctest(id: 99) {
    id
    fcfield {
      ... on fieldcollection_fctype {
        fcinputfield
      }
    }
  }
}

where fctype is the key of the fieldcollection and fcinputfield an input field inside your field collection.

Result:
{
  "data": {
    "getFctes

[2019-08-12 13:33] NiklasBr commented on #53
So, on the data object class `fcinputfield` is the name in the dataObject class or the name in the fieldCollection? Note that the Schema does not expose this information. A bug?

[2019-08-12 13:39] weisswurstkanone commented on #53
fcinputfield is in the fieldcollection

![image](https://user-images.githubusercontent.com/6142086/62869084-68b37680-bd17-11e9-8b60-1bff3b21ad0f.png)

[2019-08-12 13:40] weisswurstkanone commented on #53
![image](https://user-images.githubusercontent.com/6142086/62869123-7a951980-bd17-11e9-84d3-cedfd1d210fa.png)

[2019-08-12 13:40] weisswurstkanone commented on #53
![image](https://user-images.githubusercontent.com/6142086/62869141-841e8180-bd17-11e9-8e99-0d668188639e.png)

[2019-08-12 13:51] NiklasBr commented on #53
Oh, I think I get it now. I'll try to add some docs. Thanks!

[2019-08-12 13:53] weisswurstkanone commented on #53
I guess it would make sense to provide a sample configuration file for the new pimcore demo once it is available.

[2019-08-19 12:30] NiklasBr opened #97 "Configuration verbosity problems"
Every time the `datahub-configurations.php` file is saved a lot of (what seems to be) unnecessary fields change, for example

[code]
and
[code]

Are these required for the config to work or can the file be generated without them?

[2019-08-19 12:41] weisswurstkanone commented on #97
"displayfield-2452-inputEl" is not needed. It should be excluded from form submission.

Regarding the key: It is required. However, the only requirement is that it must be unique.

[2019-08-19 12:44] NiklasBr commented on #97
That's just the description and id of the key field, the content (actual API key) does not change.

[2019-08-19 12:54] weisswurstkanone commented on #97
it is just a unique identifier for the field. used internally only.

[2019-08-19 13:06] NiklasBr commented on #97
Is it possible to avoid changing it? It "pollutes" (:)) the commit logs when checking in the file

[2019-08-19 13:15] weisswurstkanone commented on #97
We could try to completely avoid writing it and regenerate a unique ID whenever the configuration is read. Do you wanna give it a try ?

[2019-08-20 02:12] mrpdean commented on #49
Hi,

I've just started playing around with the Data Hub and so far I'm loving it.

Is this feature request referring to eventually being able to query documents and their content blocks via Graph QL?  Because that would be great.

Thanks.

[2019-08-20 07:08] NiklasBr commented on #97
Maybe, I'll see if/when I can get some time to give it a try.

[2019-08-20 08:49] weisswurstkanone commented on #49
Excactly! It is not on the top-prio list, though. But please describe your actual usecase here and we will try to consider your input ;-) Many thanks!

[2019-08-21 11:44] #97 closed

[2019-09-03 16:01] julmot opened #101 "No Admin Translations"
After installtion data hub and activating the package, then clearing the cache and reopening the backend interface, DataHub doesn't have user friendly labels:

![000189](https://user-images.githubusercontent.com/8310677/64189540-c483a200-ce74-11e9-9fc8-228a4f9df9c4.png)
![000192](https://user-images.githubusercontent.com/8310677/64190182-12e57080-ce76-11e9-972a-eeb63ac421b7.png)

The installation

[2019-09-03 16:03] julmot opened #102 "Add button click does nothing – Only arrow works"
Clicking on the following button (plugin_pimcore_datahub_configpanel_add) does nothing – only clicking explicitly on the arrow opens the dropdown:

![000191](https://user-images.githubusercontent.com/8310677/64189718-25ab7580-ce75-11e9-8f3a-d8f14b3ead8d.png)

[2019-09-03 16:05] weisswurstkanone commented on #102
Works as designed as additional channels are in the pipeline. For now we could make it as default.
PRs are welcome ;-)

[2019-09-03 16:06] julmot commented on #102
I would suggest to open the same dropdown like the arrow, what do you think?

[2019-09-03 16:11] weisswurstkanone commented on #102
that's a standard split button - but as you can see there is only one option right now.

[2019-09-03 16:20] julmot commented on #101
For those of you having the same issue: Manually importing this converted translation file at least provides the missing translations in EN:
[convertcsv.zip](https://github.com/pimcore/data-hub/files/3570436/convertcsv.zip)

[2019-09-03 16:23] weisswurstkanone commented on #101
This is neither the right place nor the right solution. Please follow the official pimcore installation guide.

[2019-09-03 16:23] #101 closed

[2019-09-03 17:16] julmot commented on #101
@weisswurstkanone Of course it's not, this was a workaround for the meantime.

Would you mind to point out that `official pimcore installation guide` where translations of packages are covered?
Places where I searched unsuccessful:

* https://pimcore.com/docs/5.x/Development_Documentation/Getting_Started/Installation.html
* https://pimcore.com/docs/5.x/Development_Documentation/Extending_Pimcore/A

[2019-09-04 07:17] nerdsklickpark commented on #102
I think he refers to that if you click on the label (1), no event handler is implemented, nothing happens.
An event handler is implemented for the arrow (2), it opens the dropdown.

Maybe clicking on the label (1) could also open the dropdown.

If the label should not open the dropdown, what could be an alternative function?

![Screenshot 2019-09-04 at 9 10 20 AM](https://user-images.githubusercon

[2019-09-04 07:24] julmot commented on #102
Thanks @nerdsklickpark for the explanation, indeed this is what I was talking about.

[2019-09-04 07:28] nerdsklickpark commented on #81
I know this may not be the finest solution, but you could replace the filter variable like this. Don't you?

[code]

[2019-09-04 07:37] julmot opened #103 "Feature Request: Demo"
Pimcore already offers an ecommerce demo, with example categories and products. The [online demo](https://demo-advanced.pimcore.org) also ships with Data-hub (but without a GraphQL config). However, I would very much appreciate a demo showing a query for all those information using GraphQL. It doesn't necessarily need to have a UI, can simply render unstyled HTML or log the results into the consol

[2019-09-04 07:50] julmot commented on #49
My use case: I would like to be able to create a new document, create and manage bricks and publish and preview that document.

Potential easy solution approach: The document simply shows editables (must look more like native form elements) and clicking the preview button would show the "live" respectively the decoupled frontend application with the provided information. However, this would loose

[2019-09-04 08:07] solverat commented on #49
@julmot this is almost impossible to manage. It's not possible to use a decoupled brick by brick configuration since the tag id/name determination needs the full document structure at rendering time. You also need to consider the session based modification (until you hit the save button). We tried to implement something like graphejs (http://grapesjs.com/demo.html) the other day and yea... we gave

[2019-09-04 08:23] julmot commented on #49
@solverat But wouldn't it possible to refactor that part of the architecture? I don't know what it needs to be able to read and write all editables of a brick, but let's imagine it's the document ID, the brick name, the brick ID and the brick position. All of that could be part of the URL that would be embedded using the iframe. Or, if it really needs to have the document for editing a single bric

[2019-09-04 09:10] #102 closed

[2019-09-04 09:21] #81 closed

[2019-09-04 11:17] NiklasBr commented on #81
@nerdsklickpark That's effectively the same thing I wrote in my previous comment. Does not help unfortunately. Filtering via a schema-dependent string is not a good solution.

[2019-09-04 14:50] #84 closed

[2019-09-05 07:35] sumitacamdoo opened #105 "Cannot assign field to operator in Query Schema Settings"
Hello,
I am trying the data hub feature and I see that I cannot assign fields to any  operators, I tried on the pimcore advanced demo solution online and by integrating in local solution; both raising same exception.

The error I get is as below:
![image](https://user-images.githubusercontent.com/53328547/64321079-dd08cf00-cfd0-11e9-9a57-1a7e345b351e.png)

![image](https://user-images.githubuserco

[2019-09-06 04:45] ceefour opened #107 "Error: Mutation datatype 'numeric' not supported yet (?)"
https://github.com/pimcore/data-hub/blob/master/doc/graphl/Mutations.md says that most of the basic data types are already supported.

But I've just tried this using datahub v.master at Sep 6, 2019 (running on Pimcore 6.1.2) and throws error:

![image](https://user-images.githubusercontent.com/24123/64401568-a8ae1500-d09b-11e9-9612-05950de36cfb.png)

All I can do is add the "system fields". Any us

[2019-09-06 08:33] weisswurstkanone commented on #107
regression of https://github.com/pimcore/data-hub/commit/2f8558017c6e02b510d701ddaf05a213669404ef

[2019-09-06 08:35] #107 closed

[2019-09-06 08:36] #105 closed

[2019-09-13 10:46] NiklasBr opened #110 "Configuration could not be saved"
After updating to most recent commit, I'm trying to save the configuration.

Error details:
[code]

According to `pimcore:migrations:migrate` there are "No migrations to execute"

[2019-09-13 10:57] weisswurstkanone commented on #110
Can you confirm that the mirgation script got executed ?

[2019-09-13 11:04] NiklasBr commented on #110
So far I have discovered that the DB tables `plugin_datahub_workspaces_document` does not exist (as the error says) but the tables `plugin_datahub_workspaces_asset` and `plugin_datahub_workspaces_object` does and I cannot get *Version20190904131554* to activate.

[2019-09-13 11:19] weisswurstkanone commented on #110
do you see any further details ?

[2019-09-13 11:27] NiklasBr commented on #110
Nothing more than that. Also tried this command `pimcore:migrations:execute 20190904131554` but it failed:

[code]

[2019-09-13 11:31] dvesh3 commented on #110
@NiklasBr can you please try with `bin/console pimcore:migrations:execute -v 20190904131554 --bundle=PimcoreDataHubBundle`?

[2019-09-13 11:33] NiklasBr commented on #110
That worked @dvesh3

[code]

[2019-09-13 11:36] NiklasBr commented on #110
Also, thanks! Question is, why did PimcoreDataHubBundle not execute when other migrations did when running the composer update?

[2019-09-13 12:02] NiklasBr commented on #110
This is probably just exposing my lack of knowledge, but shouldn't this DataHub bundle have it's own version of these to run its migrations?

https://github.com/pimcore/pimcore/blob/32fab59e51159de1c8e86af8b0812bcbb00e8217/bundles/CoreBundle/Resources/config/pimcore/default.yml#L239-L255

[2019-09-13 12:17] dvesh3 commented on #110
Not really.....we can just `MigrationInstaller` class and then it should migrate on every update. please have a look here for docs https://pimcore.com/docs/5.x/Development_Documentation/Extending_Pimcore/Bundle_Developers_Guide/Pimcore_Bundles/Installers.html#page_Migrations

changes https://github.com/pimcore/data-hub/commit/85380ff63c058f7818138f9625891d97c38d198e

[2019-09-13 12:33] NiklasBr commented on #110
@dvesh3 I rolled back to previous version then upgraded Data-hub

[code]

And when loading Pimcore again I get the following exception:

[code]

[2019-09-13 12:43] dvesh3 commented on #110
can you please check again? looks like your'e not latest commit 2e5daed5902493857fbdde72f137f14176c5d294

[2019-09-13 12:51] NiklasBr commented on #110
No migrations ran when composer updating to 2e5daed either

[2019-09-13 12:59] dvesh3 commented on #110
It should work now! 296190381331c2f2de5cc1ef85baa32b9b5f03f3

[2019-09-13 13:09] NiklasBr commented on #110
Nope :(

It never enters into `Installer::migrateInstall()` or `Version20190904131554::up()`, neither on composer update, nor on loading Pimcore admin. DB table still missing.

[code]

[2019-09-13 13:35] NiklasBr commented on #110
Tried upgrading Pimcore from 6.1.2 to 6.2.0 but that didn't work either.

[2019-09-13 13:50] dvesh3 commented on #110
maybe you already have latest version in the db
![screenshot-newtab-2019 09 13-15-46-15](https://user-images.githubusercontent.com/5137917/64867622-0ca58000-d63e-11e9-9eb9-6a1b5d7c5014.png)

[2019-09-16 07:21] NiklasBr commented on #110
An update here.

It appears that migration `Version20190614135736` never runs either, the database tables `plugin_datahub_workspaces_asset` and `plugin_datahub_workspaces_object` both still have their `write` columns.

I verified by adding breakpoints in those files.

[2019-09-17 11:10] NiklasBr commented on #110
@dvesh3 I saw you committed yesterday just when I wrote the above comment, I tried again:

[code]

[2019-09-27 06:17] weisswurstkanone commented on #103
@dvesh3 , can be closed, right ?

[2019-09-30 09:22] dvesh3 commented on #103
please see https://demo.pimcore.fun/en/Events

[2019-09-30 09:26] dpfaffenbauer opened #111 "API-Platform instead of directly using GraphQL"
I thought a lot about integrating API-Platform instead of the graphql library in the last couple of days.

IMO: I don't see any reason why it shouldn't work, and, it would also solve the REST feature automatically.

Things that need to be done in order for API-Platform to work with DataHub:

 - Map the DataHub Class Configuration to API-Platform Metadata
 - Add an EntryPoint for API-Platform to lo

[2019-09-30 16:10] dpfaffenbauer commented on #111
Proof of Concept:
<img width="1241" alt="Bildschirmfoto 2019-09-30 um 18 08 29" src="https://user-images.githubusercontent.com/5981845/65896410-76978680-e3ad-11e9-986a-9afde369e5eb.png">
![Bildschirmfoto 2019-09-30 um 18 08 56](https://user-images.githubusercontent.com/5981845/65896391-6c758800-e3ad-11e9-9aaf-e8aeebcb641d.png)

Config
![Bildschirmfoto 2019-09-30 um 18 10 02](https://user-images.gi

[2019-10-01 15:34] julmot commented on #110
Also having that issue when creating a new GraphQl endpoint with a fresh install from master:

![000260](https://user-images.githubusercontent.com/8310677/65976805-06523900-e471-11e9-9d02-e46951e76b84.png)
![000261](https://user-images.githubusercontent.com/8310677/65976806-06523900-e471-11e9-8b4f-f3de74ecbc7d.png)

It still saves my configuration into `pimcore/var/config/datahub-configurations.ph

[2019-10-01 18:05] julmot opened #113 "Documents @ DataHub"
After the Pimcore conference last week, I've heard that you need use cases, ideas and requirements for the [Documents integration](https://github.com/pimcore/data-hub/issues/49) as part of the DataHub. Therefore I'd like to share my two cents.

Our customers are currently relying on the Documents part of Pimcore for authoring and managing all of their non-dynamic contents – like e.g. landing pages

[2019-10-10 07:04] Cruiser13 commented on #111
This is awesome. We're currently working on a more direct integration of api platform with pimcore.
We took a different path (generating custom classes which do extend the pimcore dataobject classes and have the annotations for api platform included) which will then be extended with custom controller classes which handle stuff like permissions and everything.

Your approach is far better with this

[2019-10-10 07:07] Cruiser13 commented on #111
Using API-Platform would also solve #93 and #94 as API Platform does support them natively:
https://api-platform.com/docs/core/content-negotiation/

[2019-10-10 07:11] dpfaffenbauer commented on #111
That is the idea behind it. To have REST (JSON, JSON+LD, XML), GraphQL and CSV in one implementation. It works pretty good with the DataHub, since it basically is just REST. Not sure what Pimcore thinks about it though.

It also is still a long way to go, but I don't see any serious issues handling that with API-Platform.

[2019-10-10 10:37] jorisros opened #116 "Add support for classificationstore fields"
The support of classificationstore is wanted, so we able to export the values by group to a json.

[2019-10-14 13:29] #34 closed

[2019-10-14 13:54] #35 closed

[2019-10-16 10:01] weisswurstkanone opened #118 "Support "time" query datatype"

[2019-10-16 13:00] dpfaffenbauer commented on #111
@brusch @fashxp @weisswurstkanone Any input on this?

[2019-10-16 13:33] dpfaffenbauer commented on #111
Also: Since Pimcore does that Data Configuration also in Core (Grids and Exports), I think we should introduce some sort of Standardized Serializer that works the same for Grids, Exports and Data-Hub. Otherwise it's copy-paste code and error prone. So we could, as we say in German, catch 2 flies in one hit ;)

[2019-10-16 15:33] #118 closed

[2019-10-24 12:25] SimoneCarnio opened #121 "Assets fullpath(thumbnail:) not working on relations"
I'm trying to get thumbnail from asset linked by relation to an object, but I cannot get it to work. I tried to check over the code but without results.

To reproduce, this is a simple class:
![image](https://user-images.githubusercontent.com/8537252/67484853-330d0100-f669-11e9-9bfd-5e2366553024.png)

This is an object created with that class:
![image](https://user-images.githubusercontent.com/853

[2019-10-24 12:39] NiklasBr commented on #121
Have you tried using the Thumbnail *Transformer* (bottom in the left column) when specifying the Query Schema Fields?

[2019-10-24 12:53] SimoneCarnio commented on #121
With the Thumbnail transformer seems to work, but I need to change the thumbnail configuration from the query.
Moreover, I cant use (I think) the Thumbnail Transformer if I insert a relation inside a FieldCollection, as like this:

Object:
![image](https://user-images.githubusercontent.com/8537252/67486923-3c986800-f66d-11e9-9bae-507040d51501.png)

FieldCollection (_ListaDocumenti_):
![image](http

[2019-10-24 13:11] weisswurstkanone commented on #121
![image](https://user-images.githubusercontent.com/6142086/67488679-820a6480-f670-11e9-9c1b-d64e2c95c865.png)

[2019-10-24 13:11] #121 closed

[2019-10-24 14:04] SimoneCarnio commented on #121
Thank you @weisswurstkanone for your prompt reply/fix.
I think you should add also something like this to get the document preview

[code]

I think it should also be fixed this on data(thumbnail)

What do you thin?

[2019-10-24 14:06] SimoneCarnio commented on #121
Thank you @weisswurstkanone for your prompt reply/fix.
I think you should add also something like this to get the document preview

[code]

I think it should also be fixed this on data(thumbnail)

What do you think?

[2019-10-24 14:08] weisswurstkanone commented on #121
can you create a PR ? :-)

[2019-10-24 20:30] Ben305 opened #123 "Mutation not working as soon as defaultLanguage used"
I have a mutation which can be executed successfully as long as I don't specify the defaultLanguage.

When the defaultLanguage is specified, an error is thrown here:
https://github.com/pimcore/data-hub/blob/master/src/GraphQL/Mutation/MutationType.php#L389
because `$localeService` is null.

Any help would be kindly appreciated!

[2019-10-25 05:35] weisswurstkanone commented on #123
Unable to reproduce.

[2019-10-25 06:36] weisswurstkanone commented on #123
![image](https://user-images.githubusercontent.com/6142086/67548638-97c86a00-f702-11e9-9c26-8e3decc834f4.png)

[2019-10-25 06:38] Ben305 commented on #123
Oh, defaultLanguage has to be part of the input? Will try that and report back!

[2019-10-25 06:40] weisswurstkanone commented on #123
it is not part of the input, the screenshot is not optimal :-)

[2019-10-25 06:40] weisswurstkanone commented on #123
![image](https://user-images.githubusercontent.com/6142086/67548809-1b825680-f703-11e9-9718-0bb722541489.png)

[2019-10-25 07:25] Ben305 commented on #123
Here are some screenshots from my configuration:

**Class definition**
<img width="311" alt="Class" src="https://user-images.githubusercontent.com/2217367/67551414-17593780-f709-11e9-9e9d-6a001d419828.png">

**Data-Hub configuration**
<img width="948" alt="DataHub Config" src="https://user-images.githubusercontent.com/2217367/67551478-512a3e00-f709-11e9-8128-22198b6ea6c1.png">

**Mutation without

[2019-10-25 07:27] weisswurstkanone commented on #123
please try to debug it. I don't see how localeService could be null.

[2019-10-25 07:29] Ben305 commented on #123
Okay, will do that. Anything special I should have a look at?

[2019-10-25 19:57] Ben305 commented on #123
@weisswurstkanone Found it, the local variables where not assigned correctly when the entity config only contained update mutations.

[2019-10-28 10:19] weisswurstkanone commented on #123
Excellent! As an alternative we could use $this->localService inside getUpdateObjectResolver

[2019-10-28 10:20] #123 closed

[2019-10-30 12:34] weisswurstkanone commented on #49
Further work will be covered by separate issues.

[2019-10-30 12:34] #49 closed

[2019-10-30 12:35] weisswurstkanone opened #125 "Documents: Support image tag"

[2019-11-04 15:14] weisswurstkanone opened #126 "Full support for hotspotimage metadata"

[2019-11-04 16:23] #116 closed

[2019-11-05 09:52] #126 closed

[2019-11-05 14:57] #52 closed

[2019-11-05 15:18] weisswurstkanone opened #127 "Support BooleanSelect query type"

[2019-11-05 15:23] #61 closed

[2019-11-05 15:23] weisswurstkanone commented on #127
fixed together with #61

[2019-11-05 15:23] #127 closed

[2019-11-06 11:24] brusch commented on #111
First of all: we'd also love to see API Platform support in DataHub and we'd definitely accept a pull request for that, but we are not going to implement this as the core team for now.
The architecture of the DataHub allows multiple types, so it should be possible to develop the API Platform support in parallel.

[2019-11-06 11:57] dpfaffenbauer commented on #111
then not.

[2019-11-06 11:57] #111 closed

[2019-11-06 12:36] brusch commented on #111
That is really too bad, ... maybe someone else is willing to contribute this feature? 😊

Let me also quickly explain why we've chosen Webonyx over API platform:
One of the main reasons was, that with Webonyx we can utilize the full power of GraphQL, without any compromises. This is especially important for more advanced features, which may be possible with API Platform as well, but always with som

[2019-11-06 12:42] dpfaffenbauer commented on #111
:man_shrugging:

[2019-11-06 15:20] weisswurstkanone opened #128 "Documents: support multiselect type"

[2019-11-06 15:47] weisswurstkanone opened #129 "Documents: support relation (many-to-one) type"

[2019-11-06 15:48] weisswurstkanone opened #130 "Documents: support relations (many-to-many) type"

[2019-11-06 16:03] weisswurstkanone opened #131 "Documents: support pdf element type"

[2019-11-07 08:09] #125 closed

[2019-11-07 08:40] #131 closed

[2019-11-07 08:52] #128 closed

[2019-11-07 10:51] Cruiser13 commented on #111
Sorry to bother you again @brusch but you mentioned Webonyx - api-platform does also rely on webonx for graph-ql:
https://api-platform.com/docs/core/graphql/

So wouldn't we keep the possibilities of webonyx by using api-platform?

[2019-11-07 10:58] brusch commented on #111
@Cruiser13 not really, because there's at least one layer from API Platform in-between.

[2019-11-07 11:37] #129 closed

[2019-11-08 11:57] weisswurstkanone opened #132 "Align documentation with official demo site demo.pimcore.fun"

[2019-11-13 08:02] DzemalBecirevic opened #133 "Images in fieldcollection"
I have a class with a fieldcollection that contains images, when trying to read the data in Graphql Im experiencing problems.

According to the documentation this should work without any problems so what am I doing wrong?

Query:
`Images {
    ... on fieldcollection_image {
        __typename
            ... on Image {
                fullpath
            }
       }
}`

Error:
`{
  "errors": [

[2019-11-13 10:32] weisswurstkanone commented on #133
can you paste a screenshot of your field collection definition?

[2019-11-13 12:19] DzemalBecirevic commented on #133
In Simple class:
![image](https://user-images.githubusercontent.com/1179974/68763135-04ef6100-0618-11ea-9a24-6173d5a05b7b.png)

Field collection (Image):
![image](https://user-images.githubusercontent.com/1179974/68763192-22bcc600-0618-11ea-8901-6bf61669d5df.png)

Thanks in advance.

[2019-11-13 12:27] weisswurstkanone commented on #133
did you check your query with graphql explorer. my gut feeling is that the query is not right.

[2019-11-13 12:28] weisswurstkanone commented on #133
also make sure that you are on dev-master. there are a couple modifications going on right now.

[2019-11-13 12:31] DzemalBecirevic commented on #133
I have tried both

... on Image { fullpath }

and even

... on asset { fullpath }

but without any results.

I have debugged and seen that the AbstractFieldHelper.php returns the correct data but for some reason later on "getImage" is called on "Simple".

[2019-11-13 12:36] weisswurstkanone commented on #133
my "... on" ? the image is always an asset (not a union)

Try something like

{
  getTest(id: 1130) {
    mycol {
      __typename
      ... on fieldcollection_testcoll {
        myimage {
          fullpath
        }
        fcinput
      }
    }
  }
}

and make sure you are on the latest version.

[2019-11-13 12:46] DzemalBecirevic commented on #133
I've checked up the lastest version and it is now working with the following query:

`query {
  getSimple(id: 4) {
      Images {
        ... on fieldcollection_image {
          Image {
            fullpath
          }
        }
      }
    }
}`

Thanks for the help!

[2019-11-13 12:46] weisswurstkanone commented on #133
welcome

[2019-11-13 12:46] #133 closed

[2019-11-19 08:33] devondahon opened #134 "Install manually"
I have a server based in China, the install command `composer require pimcore/data-hub:dev-master` seems to be blocked by the GFW, how can to install `data-hub` manually ?

[2019-11-19 10:08] NiklasBr commented on #134
If you can fork the code you could perhaps set up a custom local repository, I believe [the Composer docs](https://getcomposer.org/doc/05-repositories.md) can help you .

[2019-11-19 14:56] brusch commented on #134
Please download the code and use a local "path" composer repository.

[2019-11-19 14:56] #134 closed

[2019-11-20 13:22] devondahon opened #135 "Nothing in the menu after installation"
I have installed **data-hub** with:
[code]

It seems properly installed:
[code]
But I don't see anything in the Pimcore admin interface menu:
![image](https://user-images.githubusercontent.com/612946/69242442-d22b0700-0bdb-11ea-93c9-00065969849c.png)

[2019-11-20 13:28] weisswurstkanone commented on #135
Is it enabled? Check the extension manager. File | Bundles.

[2019-11-20 13:30] dvesh3 commented on #135
It should be installed and enabled here
![image](https://user-images.githubusercontent.com/5137917/69242909-287b5400-0ba2-11ea-8ee5-8ecad7b2de26.png)

[2019-11-20 13:40] NiklasBr commented on #135
Can you run the command `pimcore:migrations:migrate --bundle=PimcoreDataHubBundle`?

[2019-11-20 15:30] devondahon commented on #135
Ok, great, thanks!
Knowing that my website is `my.website.com`, what URL should I call to get GraphQL data ?

[2019-11-20 15:32] weisswurstkanone commented on #135
It is documented here: https://github.com/pimcore/data-hub/blob/master/doc/GraphQL.md

[2019-11-22 12:58] devondahon opened #136 "component of type Image seems not recognized by data-hub"
It seems that the component of type `Image` is not recognized by `data-hub` in getObjectListing.

When I try with:
[code]
Adding this `img2 { id }` returns the following error:
https://gist.github.com/devondahon/045a39948144432f23a45f00955f86e4

I also posted on pimcore forum about this:
https://talk.pimcore.org/t/data-hub-get-image-indirectly/2879

If don't add `id` for `img2 { }` , leaving the b

[2019-11-22 13:09] NiklasBr commented on #136
Can you do this?

[code]

[2019-11-22 13:28] devondahon commented on #136
No, I get the same "html page" error with:
[code]

[2019-11-22 13:44] NiklasBr commented on #136
Can you show your schema and security definitions?

[2019-11-22 13:57] weisswurstkanone commented on #136
@NiklasBr , already investigating ...

[2019-11-22 14:03] weisswurstkanone commented on #136
unable to reproduce.

But after reading your post at https://talk.pimcore.org/t/data-hub-get-image-indirectly/2879 ...
did you actually add it to your schema like this?

![image](https://user-images.githubusercontent.com/6142086/69432070-3f07e380-0d39-11ea-8c2c-6e3b1e0f5a0d.png)

[2019-11-22 15:14] devondahon commented on #136
Yes, I did as you can see on the screenshot below:

<img width="960" alt="Capture d’écran 2019-11-22 à 11 13 21 PM" src="https://user-images.githubusercontent.com/612946/69437202-cd05bd80-0d7d-11ea-9c6c-f24156e4acf6.png">

[2019-11-23 02:23] devondahon commented on #136
My problem was finally  fixed after switching **composer** mirror and upgrading **Pimcore**.
[code]
Thanks for you help

[2019-11-23 02:23] #136 closed

[2019-11-23 11:43] mrpdean opened #137 "Fatal error - DataObjectQueryFieldConfigGeneratorInterface"
Fatal error

Interface 'Pimcore\Bundle\DataHubBundle\GraphQL\DataObjectQueryFieldConfigGeneratorInterface' not found in /var/www/pimcore/vendor/pimcore/data-hub/src/GraphQL/DataObjectQueryFieldConfigGenerator/Base.php

[2019-11-23 12:04] #137 closed

[2019-11-26 01:34] mrpdean opened #138 "Can't use any transformers"
Hi,

As soon as I try to add any type of transformer to my query schema I receive the following error when running the query:

Attempted to load class "_**<insert class of transformer>**_" from namespace "Pimcore\\Bundle\\DataHubBundle\\GraphQL\\QueryOperatorConfigGenerator".
Did you forget a "use" statement for another namespace?

For example, if I try to add a Substring operator the error will b

[2019-11-26 09:21] andreas-ateles opened #139 "Order of document elements in areblocks/blocks"
When making a `getDocument` query for a `document_page`, the `elemens` are returned in a kind of "added ID/time" order, not the actual order that the elements/editables/bricks are in on the page (in an `areablock`/`block`), and there doesn't seem to be any field for the order by either.

This makes it impossible to order the editables/bricks as it is done in the CMS.

This feature important for us

[2019-11-26 09:28] andreas-ateles opened #140 "document_tagImage image field returns null"
When making a `getDocument` query and getting the `image` field of `document_tagImage` element, it just returns `null`, and I'm unable to get the image set on the editable.

Example query:

[code]

Response:
[code]

[2019-11-28 13:40] andreas-ateles commented on #140
To get access to images had to give the GraphQL configuration read access to the assets (on the "Security Definition" tab).

[2019-11-28 13:40] #140 closed

[2019-11-28 15:01] andreas-ateles opened #141 "document_tagLink data fields returning null"
Querying any of the fields in `document_tagLink` `data` just resolves to `null`.

[2019-11-28 15:09] Anne-chaG opened #142 "gatsby develop failed when try to include data-hub with "gatsby-source-graphql""
Hi !
We trying to include Pimcore data-hub through Gatsby.

We use "gatsby-source-graphql" plugin and add this config into our `gatsby-config.js`
`{
      resolve: 'gatsby-source-graphql',
      options: {
        typeName: 'api',
        fieldName: 'api',
        url:'https://URL/pimcore-graphql-webservices/APP?apikey=APIKEY',
        refetchInterval: 60,
      },
    }`

Errors appears when we t

[2019-11-28 16:18] andreas-ateles commented on #142
@Anne-chaG if you can use the latest released version instead of the master branch it would probably work better as these fields were added for the documents API, which has not been released yet.

[2019-11-29 11:13] weisswurstkanone commented on #142
Thanks for reporting. Tried to use a word which cannot clash with any other word.
Removed one underscore for now. Better ideas ?

[2019-11-29 11:14] #142 closed

[2019-11-29 11:19] weisswurstkanone commented on #140
btw, for development read the last section here
https://github.com/pimcore/data-hub/blob/master/doc/graphl/Security.md

default is that it will silently drop the data you are not allowed to read to

[2019-11-29 11:57] weisswurstkanone commented on #139
imho, this is impossible to accomplish as it depends on the current state of your document.

[2019-11-29 12:02] andreas-ateles commented on #139
@weisswurstkanone all I'm asking for here is the order the elements/bricks are ordered in the areas/blocks. This information is obviously available (as Pimcore has it in admin). I'm in the process of making a PR with a change to return the elements order as such.

[2019-11-29 12:27] devondahon commented on #135
Thanks!

[2019-11-29 12:27] #135 closed

[2019-11-29 12:29] weisswurstkanone commented on #139
great 👍

[2019-11-29 13:20] weisswurstkanone commented on #141
fixed via https://github.com/pimcore/data-hub/commit/08ee0c20d3e1afb9d74aa03011b1c1cbad3ec8c1

[2019-11-29 13:20] #141 closed

[2019-11-29 13:51] weisswurstkanone commented on #138
Unable to reproduce.

[2019-11-29 13:56] NiklasBr commented on #138
@mrpdean A *transformer* need a second field in the model which it transforms. Are you dragging the field to transform onto the *transformer*?

[2019-11-29 14:00] weisswurstkanone commented on #138
thanks @NiklasBr , @mrpdean can you provide a screenshot of your schema def?

[2019-11-29 14:01] NiklasBr commented on #138
It should look like this:
![Skärmbild (255)](https://user-images.githubusercontent.com/279826/69873619-1e9bd400-12b9-11ea-90f1-f9d99199c14b.png)

[2019-11-30 16:26] devondahon opened #144 "Folder content list"
How to get the content of a folder ?

I currently have this:
[code]
returning this:
[code]

This folder contains subfolders containing objects which I also need to get.

[2019-12-01 03:39] mrpdean commented on #138
Here is what I'm doing.

Starting with the most basic schema:

![screen-1](https://user-images.githubusercontent.com/4626255/69909020-40779100-1448-11ea-8205-dbdf1c738dcc.jpg)

This work fines:

![screen-2](https://user-images.githubusercontent.com/4626255/69909021-49686280-1448-11ea-93a5-3c65345a8dc9.jpg)

The, as soon as I add a transformer, in this case a Substring:

![screen-3](https://user-im

[2019-12-04 10:00] snmuhein opened #146 "Query using variables as language arguments does not work"
Query using variables as language arguments does not work.
This minimal [query on demo.pimcore.fun](https://demo.pimcore.fun/pimcore-datahub-webservices/explorer/products?apikey=6332aa5e6d3d6c0be31da2a8b3442113&query=query%20getAccessoryPart(%24language1%3A%20String%2C%20%24language2%3A%20String)%20%7B%0A%20%20getAccessoryPart(id%3A%20408)%20%7B%0A%20%20%20%20name1%3A%20generatedName(language%3A%2

[2019-12-04 10:39] Anne-chaG opened #147 "Data-hub tries to access getName method on a fieldCollection class"
Hi !

I'm facing this issue when I create my queries and wanna run them in GraphiQL.

`Call to undefined method getName in class Pimcore\Model\DataObject\Fieldcollection\Definition`

Based on my error log, it seems that the exception is throwed on ObjectMetadataType.php line 47 :
[code]

[2019-12-05 12:08] weisswurstkanone commented on #144
see https://github.com/pimcore/data-hub/blob/master/doc/graphl/Filtering.md as an example

[2019-12-05 12:08] #144 closed

[2019-12-05 15:53] weisswurstkanone commented on #147
Could you please describe in detail how your data model looks like, steps to reproduce, ideally on on the demo site (demo.pimcore.fun).

[2019-12-05 16:05] #146 closed

[2019-12-05 16:39] weisswurstkanone commented on #138
Can you reproduce this on demo.pimcore.fun ?

[2019-12-06 15:13] romainbessugesmeusy commented on #147
Hi @weisswurstkanone, thank you for your reply. I've attached a zip containing our classes folder that you should be able to import using the `pimcore:deployment:classes-rebuild` command.

[mg-pim-master-var-classes.zip](https://github.com/pimcore/data-hub/files/3932725/mg-pim-master-var-classes.zip)

[2019-12-06 15:31] weisswurstkanone commented on #147
what's your query ?

[2019-12-06 15:40] romainbessugesmeusy commented on #147
Actually we're not able to write any query, as Pimcore is replying with 500 err :

<img width="1915" alt="Capture d’écran 2019-12-06 à 16 39 39" src="https://user-images.githubusercontent.com/3127404/70335146-07c02900-1847-11ea-9742-648025234c14.png">

[2019-12-06 15:47] weisswurstkanone commented on #147
a bit of a guesswork ... :-)

[2019-12-06 15:49] #139 closed

[2019-12-06 15:50] weisswurstkanone commented on #147
please give it a try

[2019-12-06 16:23] romainbessugesmeusy commented on #147
It seems to be working just fine! Thank you very much

[2019-12-06 16:23] #147 closed

[2019-12-09 14:02] julmot commented on #76
I would suggest to reopen this ticket and solve this in data hub itself. This is nothing very specific, it's a common approach to host decoupled frontend applications on different domains. On DEV and on PROD.

For example my decoupled frontend applications always run on localhost in DEV, the backends on XXX.local. Even on PROD we can either have pimcore.XXX.com and XXX.com serving as frontend or a

[2019-12-09 14:06] weisswurstkanone commented on #76
@julmot , can you create a PR ?

[2019-12-09 14:23] julmot commented on #76
@weisswurstkanone Please see https://github.com/pimcore/data-hub/pull/148

[2019-12-10 09:26] #130 closed

[2019-12-10 09:27] #132 closed

[2019-12-10 09:28] weisswurstkanone commented on #138
any updates ?

[2019-12-10 11:56] mrpdean commented on #138
Yeah, I can't reproduce the error on demo.pimcore.fun.

Guess it's an issue with my install but I've got no idea what it could be.

[2019-12-10 11:56] #138 closed

[2019-12-20 07:51] weisswurstkanone commented on #110
is this still relevant?

[2019-12-20 08:27] NiklasBr commented on #110
Yes, I never managed to get the automatic migrations running other than doing it manually as above.

[2019-12-20 08:35] weisswurstkanone commented on #110
Question: Is this perhaps a Pimcore (core) issue? When running pimcore:migrations:migrate --bundle=PimcoreDataHubBundle it works, but not when part of the regular migrations hooked by the composer scripts.

see https://github.com/pimcore/pimcore/issues/5445

[2019-12-20 09:06] NiklasBr commented on #110
I don't know where exactly the root issue exists, unfortunately.

[2019-12-21 09:44] zofe opened #151 "bulk insert , how-to"
I'm new to data-hub and graphql,
there is support for bulk insert using one mutation ?

[2019-12-23 08:29] weisswurstkanone commented on #151
No, I think there are more cons than pros and it is not about defining a schema that allows taht. Just think about the scenario where some inserts fail but not all of them. There is no generic, friendly way to resolve that.

[2019-12-23 12:17] #151 closed

[2020-01-09 11:43] weisswurstkanone commented on #48
already implemented

[2020-01-09 11:43] #48 closed

[2020-01-10 11:54] weisswurstkanone opened #152 "[PHPSTAN] fix notices"

[2020-01-13 14:58] Zielgestalt opened #154 "Support reverse relations (many-to-many)"
I have a data object of class "news" with a relation to another data object of class "category".
Now I want to get all categories and at least the IDs of the reverse related news.

With support of reverse relations I could do this with only one request overall instead of one filtered request per category.

Thanks!

[2020-01-13 15:18] weisswurstkanone commented on #154
Hi @Zielgestalt , can you provide a PR ?

[2020-01-15 12:05] weisswurstkanone commented on #152
fixed via https://github.com/pimcore/data-hub/pull/153

[2020-01-15 12:05] #152 closed

[2020-01-20 14:16] #154 closed

[2020-01-21 10:41] AlsonPL opened #155 "Support more operators data types"
I have custom operator, where i want to return asset object. For now i can see that i can return some basic data types like string, float, int, but I can't find any simple way to return asset object.

I tried something like this:
[code]
and

[code]

But get this:
![graphql](https://user-images.githubusercontent.com/1633588/72798179-c9d66300-3c42-11ea-9eae-2115df594b4b.png)

Am I doing something wr

[2020-01-21 10:53] weisswurstkanone commented on #155
getThumbnail returns Image\Thumbnail
which is not an asset.

Please consult the forum for such kinds of questions:
http://talk.pimcore.org/
https://gitter.im/pimcore/pimcore

[2020-01-21 10:53] #155 closed

[2020-01-21 11:32] AlsonPL commented on #155
I tried returning
[code]
or
[code]

But result is like on the image above.

Is there any documentation where i can learn how to return objects like `Pimcore\Model\Asset\Image` in custom operators?

[2020-01-22 10:25] julmot opened #156 "eCommerce @ DataHub"
Hello together,

Like I've mentioned in #113 we're interested in fully decoupling frontends from Pimcore. This not only includes data objects and assets, but also documents and the eCommerce part (cart + checkout).

In terms of eCommerce, theoretically it's just a set of data objects that need to be fetched, beside of the fact that it must be possible to add them to a cart (using DataHub) and only

[2020-01-22 12:25] weisswurstkanone commented on #110
Still not able to reproduce

[2020-01-22 15:58] weisswurstkanone opened #157 "Add query support for URL-Slug"
see https://github.com/pimcore/pimcore/issues/5575

[2020-01-23 13:45] fashxp commented on #156
Hi there,
we don't have a ready made solution or fixed path for that topic yet but we definitely want to go into that direction.
Therefore any feedback and input is welcome 😊.

In general we see two big topics in combination with ecommerce:
1) Integration of index service with datahub - means providing endpoints to fetch and filter data from product index for listings and searches of products. For

[2020-01-31 09:59] #110 closed

[2020-02-02 19:18] NiklasBr commented on #110
Tried it in a new environment today, it is still (not) happening. I still have to run the command manually.

Please re-open.

[2020-02-03 07:26] weisswurstkanone commented on #110
die you read https://github.com/pimcore/pimcore/issues/5445 ?

[2020-02-03 08:19] NiklasBr commented on #110
Yes, the bug hasn't been fixed, and even if it might ultimately be better to fix it upstream it is wrong to close the issue when the issue has not been resolved in any way.

[2020-02-05 07:55] PriyaSahi opened #159 "In mutation schema fields unable to add manytomanyobjectRelation"
Hi,

I have installed datahub configuration and implemented query schemas which are working fine. But am facing issue with mutation schema fields in which when am trying to add any relational datatype it is showing "the datatype manytomanyobjectrelation not supported yet".

Am I missing anything? Can you please give me a solution for this.

Thank you
![mutationissue](https://user-images.githubuser

[2020-02-05 08:04] weisswurstkanone commented on #159
Currently not supported.

See https://github.com/pimcore/data-hub/blob/master/doc/graphl/Mutations.md for supported mutation types.

Do you want to create a PR? Should be quite similar many-to-many-relations except that only objects are allowed.

[2020-02-06 08:51] weisswurstkanone commented on #159
It is supported now

[2020-02-06 08:51] #159 closed

[2020-02-06 11:23] PriyaSahi commented on #159
Thank you so much, it's working now. Do advancedManyToManyObjectRelation also will be supported? If not is there any other alternative to advancedManyToManyObjectRelation to use in the mutation schema field?
Thanks in advance.

[2020-02-06 11:32] weisswurstkanone commented on #159
There will be support for advanced relations as well but I am still not sure about the appropriate schema. Ideas are welcome ;-)

[2020-02-06 11:38] PriyaSahi commented on #159
So advancedManyToManyObjectRelation in mutation schema fields cannot be used as of now?
If you find any alternative please let me know.
Thank you.

[2020-02-06 11:41] weisswurstkanone commented on #159
I am saying that manyToManyObjectRelations can be used. For the advancedManyToMany types I have to find a decent idea for the graphql schema

[2020-02-06 11:47] weisswurstkanone opened #160 "Add support for advanced many-to-many mutations"

[2020-02-06 11:47] weisswurstkanone commented on #160
Volunteers are welcome

[2020-02-06 11:50] PriyaSahi commented on #159
ok. Thank you for your support and immediate response.

[2020-02-06 15:13] #157 closed

[2020-02-11 05:21] PriyaSahi opened #162 "How to add filter condition with fields instead of only id in mutation schema for delete?"
Hi,

I want to perform delete not only with ids but also with other fields. Is there any solution for this?

Thank you

[2020-02-11 07:38] weisswurstkanone commented on #162
Please consult the forum instead.

https://talk.pimcore.org/

or

https://gitter.im/pimcore/pimcore

[2020-02-11 07:38] #162 closed

[2020-02-18 08:56] julmot opened #163 "DataHub & Custom Layouts"
Currently, Custom Layouts don't seem to be supported in DataHub:

When you have an invisible field on a data object that you're setting visible for variants via Custom Layouts, this field can not be accessed in the DataHub Schema Definition => Query Schema => Query Schema Fields definition.

As a temporary workaround it's possible to uncheck the invisible checkbox on the data object itself, then a

[2020-02-18 09:12] weisswurstkanone commented on #163
Custom layouts are about layouts. Why not take every field from the class definition and make it visible  regardless of how it is classified in the definition.
Place where it get's hidden is here
https://github.com/pimcore/pimcore/blob/739957f849b8804683f71eef9be5c21493d932f5/bundles/AdminBundle/Resources/public/js/pimcore/object/helpers/classTree.js#L223

Note that this is shared code. What do yo

[2020-02-21 16:24] weisswurstkanone commented on #163
@julmot what do you think?

[2020-02-21 18:55] julmot commented on #163
@weisswurstkanone Sounds easy and I'm willing to contribute. However, I'm currently in the end of a sprint, therefore I won't have time in the next couple of days, sorry.

[2020-02-27 15:33] weisswurstkanone commented on #163
see https://github.com/pimcore/data-hub/pull/164

requirement from core side: https://github.com/pimcore/pimcore/pull/5924

[2020-02-28 11:16] mugge6 opened #165 "ObjectBricks with identical attributes are not working"
If I create two ObjectBricks with an attribute with the same name (e.g. title) and add it to a DataObject.  Both will show up in DataHub configuration and I can drag'n'drop them to the schema. But if I'm calling it from the webservice with:

[code]
It returns `null`. And it's not clear, which title from which ObjectBrick is called.

Another problem: It's not obvious if the title field is coming fr

[2020-02-28 14:08] weisswurstkanone commented on #165
Try to use the alias operator.

https://github.com/pimcore/data-hub/blob/master/doc/graphl/Operators.md

[2020-03-02 17:50] jusufcodes opened #166 "DataHub Install in PimCore Admin is not working as expected"
The PimCore DataHub Installation is failing for me. Clearing the cache did not help.

I installed it as follow `composer require pimcore/data-hub "0.5"` same for when I tried with `composer require pimcore/data-hub:dev-master`
After the composer I proceeded in PimCore admin under Bundles as follow:

Enable DataHub -> Success
Install DataHub

Install DataHub shows a Dialog with the following messag

[2020-03-02 17:58] NiklasBr commented on #166
Unfortunately you have to run the migrations manually, see #110 for more info.

[2020-03-03 08:53] jusufcodes commented on #166
@NiklasBr thanks for the suggestion. Did not help sorry.

After diving deeping into the subject, I discovered that the PimCode Datahub Migrations did migrate. Since I can find the Migration Version Numbers in the database, including the tables.

What was missing for me was the data entry in the 'users_permission_definition' db table.

After running the following SQL Query, the extension activated.

[2020-03-03 08:55] weisswurstkanone commented on #166
So maybe there is something missing then and should be investigated?

[2020-03-03 10:02] mugge6 commented on #165
Yeah, it's working with the alias operator.

[2020-03-03 10:02] #165 closed

[2020-03-03 14:03] weisswurstkanone commented on #166
For me the dialog looks like this

[code]

After reloading the admin UI everything worked as expected.
Also checked for the plugin_datahub_config value, it is there.

[2020-03-03 14:03] #166 closed

[2020-03-05 10:01] snmuhein opened #168 "Add support for fieldcollections mutations"
Mutations on fieldcollections are not implemented yet. The "yet" in the error-diaolog suggests that there are plans to support this. Any ideas when this feature will be done?
<img width="1013" alt="Screen Shot 2020-03-05 at 10 54 05" src="https://user-images.githubusercontent.com/45623668/75969752-aeac7380-5ecf-11ea-9903-c5b9cd60d516.png">

[2020-03-05 13:22] weisswurstkanone commented on #163
Should work with 6.6.0 then.

[2020-03-05 13:22] #163 closed

[2020-03-10 10:21] julmot opened #169 "Feature Request: Asset path specifically for media query"
This is a follow-up from #13. To solve the purpose of media query specific images, by this PR the whole image is returned as HTML to solve media query settings on image thumbnails.

However, this has a few problems:

- You can not work with only the source of a specific media query.
- The asset is returned with a relative path. To make it work in a decoupled application where the frontend runs on

[2020-03-10 12:30] NiklasBr commented on #169
You can solve this with [Asset Events](https://pimcore.com/docs/6.x/Development_Documentation/Extending_Pimcore/Event_API_and_Event_Manager.html) to add domain and such to the URL:s. That's exactly what we did.

[2020-03-11 08:50] vmalyk opened #170 "Merge Operator doesn`t work"
I've tested Merge operator and found next bugs:
1. It doesn't save Label for Operator
2. Title for modal isn't translated (shown  operator_merge_settings)
3. After add operator in Schema definition with 1 or more and save scheme on GraphiQL I got error:
`Error: Must provide Array of types or a function which returns such an array for Union operator_merge.
    at invariant (https://ide.pimcore.dev.

[2020-03-12 07:58] bramstroker opened #172 "Custom queries"
I was searching for a way to implement a custom GraphQL query which have some extra arguments and a custom resolver, but this seems not possible.

There is some event dispatched `QueryEvents::PRE_BUILD` before all the build in queries are registered, however I cannot alter the `$config` there as it is not passed by reference to the event object.

Also in the `WebserviceController` a new instance o

[2020-03-12 10:22] weisswurstkanone commented on #169
So solved for you I guess. If you still feel the need please create PR. Thanks a lot!

[2020-03-12 10:53] weisswurstkanone commented on #169
https://github.com/pimcore/pimcore/blob/master/lib/Event/FrontendEvents.php

[2020-03-12 14:11] weisswurstkanone commented on #170
Fixed 1) and 2)

Can you provide a very simple example for 3) ?

[2020-03-12 14:26] vmalyk commented on #170
@weisswurstkanone , I've setup example on demo.pimcor.fun.

1)Added Merge to Schema definition and add some children:
![Скриншот 2020-03-12 17 20 06](https://user-images.githubusercontent.com/5318027/76531553-6cae9f00-6486-11ea-9439-2ce8bb7b281e.png)

2) Save schema  and try to open for testing. You get error:
![Скриншот 2020-03-12 17 20 45](https://user-images.githubusercontent.com/5318027/765316

[2020-03-12 14:33] weisswurstkanone commented on #170
Ok, the Merge type was primarily intented for merging multiple arrays.

In your case: what what be expectation? If I see it correctly you are trying to merge two quantity value fields ?

[2020-03-12 14:46] vmalyk commented on #170
so, Based on you description it works with array values - many-to-many relations, fieldcollections, etc.

Based on availability to use different I expected to get object field and It contains values from children fields: For ex. :
[code]

[2020-03-12 14:57] weisswurstkanone commented on #170
No, then this is a misunderstanding. But would be a nice idea for a new operator.

[2020-03-12 17:56] julmot commented on #169
No, it's actually not solved. The above mentioned fix is just for receiving images with absolute paths. But, it's still not possible to fetch image sources per viewport.

[2020-03-13 06:56] julmot commented on #169
Another con of the HTML solution:

for Angular applications it's rather unlikely to embed images with HTML. Because this would make it necessary to sanitize the HTML for every image, since you can't just paste HTML from outside into an Angular application.

[2020-03-13 07:28] NiklasBr commented on #169
In Vue there is a [rawHtml attribute](https://vuejs.org/v2/guide/syntax.html#Raw-HTML), in React I know [it is possible](https://reactjs.org/docs/jsx-in-depth.html#children-in-jsx), jQuery needs nothing special to append a string into the DOM, but Angular has nothing similar?

[2020-03-13 10:18] julmot commented on #169
Well, you can call a method to bypass HTML security on the `DomSanitizer` in Angular or build your own pipe like a [`rawHtml`/`safe`](https://medium.com/@swarnakishore/angular-safe-pipe-implementation-to-bypass-domsanitizer-stripping-out-content-c1bf0f1cc36b). However, this won't solve your problems. Because in Angular you have a default `ViewEncapsulation` that simulates shadow dom by adding attr

[2020-03-13 10:58] dvesh3 commented on #172
@bramstroker can you please create a separate issue? thanks!

[2020-03-13 13:56] #172 closed

[2020-03-13 14:45] weisswurstkanone commented on #172
there is a sample about adding mutations, adding a query should work in a similar way.

https://github.com/pimcore/data-hub/blob/master/doc/graphl/AddCustomMutations.md

[2020-03-13 15:48] weisswurstkanone commented on #172
also added a sample for custom queries:

https://github.com/pimcore/data-hub/blob/master/doc/graphl/AddCustomQuery.md

[2020-03-13 18:43] bramstroker commented on #172
Tyvm for the fast resolution! Will try to implement next week when I work in the project again. Also had two type errors when trying to get the graphql API working. Will create a PR with the fix.

[2020-03-16 15:44] jeremystucki opened #175 "Are fragments supported?"
# Are fragments in queries supported?

Every field that I specify in a fragment returns `null`.
Am I the only one experiencing this issue?

## Example without fragments
Input:
[code]
Output:
[code]

## Example with fragments
Input:
[code]
Output:
[code]

[2020-03-16 18:05] julmot commented on #175
Good question. Already switched from fragments to redundant code in January, as I also encountered issues which fragments & DataHub.

[2020-03-18 12:52] weisswurstkanone commented on #168
maybe an option for you:
https://github.com/pimcore/data-hub/issues/172

[2020-03-19 15:21] #170 closed

[2020-03-19 16:44] #169 closed

[2020-03-24 17:07] danielerne opened #178 "$or Filter not working"
Filters are relying on the deprecated buildSQLCondition Helper Class from Pimcore.
The helper class (\Pimcore\Bundle\AdminBundle\Controller\Rest\Helper) has some issues with $or statement and when the name of the variable comes twice:
{"kw":{"$gt":0},"$or":[{"state":"finish", "state":"update_content"}]}
Results in:
((`kw` > '0') AND ((`state` = 'update_content') ) ) "

The second state is ignored.

[2020-03-24 18:47] dvesh3 commented on #178
@danielerne complete REST API is deprecated and will be removed in Pimcore 7. please see https://github.com/pimcore/pimcore/pull/5517

about your issue, the problem is here: https://github.com/pimcore/pimcore/blob/efcb11acc1d646085b7d2c21c734a2acba4251fb/bundles/AdminBundle/Controller/Rest/AbstractRestController.php#L313
`json_decode` overwrites the duplicate keys provided in json condition.

@wei

[2020-03-25 09:33] weisswurstkanone commented on #178
It is deprecated but this doesn't mean that we can't provide the same logic, right ?

[2020-03-25 10:26] dvesh3 commented on #178
I'm just trying to make a point here that we need to support both existing and new structure.

[2020-03-25 10:28] weisswurstkanone commented on #178
Exactly

[2020-03-25 10:36] jeremystucki commented on #175
Anyone?

Ping @dvesh3

[2020-03-25 16:25] weisswurstkanone opened #179 "[Pimcore7] decouple condition builder from deprecated webservices"

[2020-03-25 18:40] weisswurstkanone commented on #178
see #179 and #180

[2020-03-25 18:41] #179 closed

[2020-03-25 18:50] weisswurstkanone commented on #178
Well, @dvesh3 is right but with a small change and a  bugfix which is integrated in #180 the following example is supposed to work (submitted the same fix for deprecated webservice in https://github.com/pimcore/pimcore/pull/6094)

q={"$or": [{"o_classname" : "Car"}, {"o_classname":"AccessoryPart"}]}

Difference is that $or is applied to a list of subconditions.
You should also be able to nest this

[2020-03-26 07:54] danielerne commented on #178
Great! Thanks for this fast reply and bugfix

[2020-03-26 09:51] #178 closed

[2020-03-27 13:14] dpfaffenbauer opened #183 "Documents: Add Schema to pre-render Document for GraphQl Output with Parameters"
Imagine following query:

[code]

Instead of getting the path and fetching the HTML directly, wouldn't it be better to just have something like this:

[code]

If happy, I could provide a PR

[2020-03-27 22:22] Zielgestalt opened #184 "No Schema available in iExplorer"
When opening a data-hub config in iExplorer no schema or docs are available. Error message:

[code]

You can easily recreate this on https://demo.pimcore.fun/admin

[2020-03-28 06:58] NiklasBr commented on #184
I got that error message in Firefox also, not just IE

[2020-03-28 11:13] Zielgestalt commented on #184
Sorry, with 'IExplorer' I meant the GraphQL-Tool - not the browser :-) Same in GraphiQL.

[2020-03-30 09:54] weisswurstkanone commented on #184
regression of https://github.com/pimcore/data-hub/commit/8a4dfc2c8476d0c61b360de369ab6a2bf69342aa

[2020-03-30 09:58] #184 closed

[2020-03-30 10:23] weisswurstkanone commented on #183
PR would be cool!

[2020-03-30 15:36] dpfaffenbauer opened #185 "master broken: Error: Must provide Array of types or a function which returns such an array for Union hotspot_metadata_object."
Just installed master and it seems to be broken, when I open the GraphQL Editor it shows:

[code]

[2020-03-30 15:39] dpfaffenbauer commented on #185
Ok, bit more context:

I only enabled documents, without any object scheam

[2020-03-30 15:42] NiklasBr commented on #185
We noted it a few days ago and this appears to have something to do with Generic Types in the configuration, checking them resolved the issue for us.

[2020-03-31 13:30] weisswurstkanone commented on #183
thanks a lot @dpfaffenbauer

[2020-03-31 13:30] #183 closed

[2020-03-31 13:40] weisswurstkanone commented on #13
@NiklasBr can this be closed ?

[2020-03-31 14:47] NiklasBr commented on #13
I tried a query like this now:

[code]

...and got the expected result.

[2020-03-31 14:47] #13 closed

[2020-03-31 16:35] weisswurstkanone commented on #13
thx for testing!

[2020-04-01 07:44] dvesh3 commented on #175
@jeremystucki currently, it is not supported and we'll investigate it soon. thanks for reporting 👍

[2020-04-03 08:32] solverat opened #187 "[Asset] Localized Field Language Property not working"
Script

[code]
Query Variables
[code]

I have no exact solution for this but I tried to debug this and I'm able to report two things:

## 1. Bug (?)

The `$arguments['language']` stays empty, but `$args['language']` comes with the right value.

https://github.com/pimcore/data-hub/blob/8352fc616790d51096edf39f4da771e4ee385646/src/GraphQL/FieldHelper/AssetFieldHelper.php#L46

## Solution (?)

If I'm

[2020-04-06 08:51] julmot opened #188 "Tags & Snippet Management runs in GraphiQL"
Tag & Snippet Management runs even within GraphiQL:

https://XXX.YYY/pimcore-datahub-webservices/explorer/

From my point of view this doesn't make sense, since this is a Pimcore specific route like the Pimcore admin interface itself.

[2020-04-07 07:26] weisswurstkanone commented on #187
Hi @solverat , any news on this ?

[2020-04-07 08:00] SRaromicon opened #189 "Query Filter should support $in."
This a feature request for an IN filter in filter query, so we can request multiple objects by e.g. an Array of IDs. Looking like:

[code]
I think i should be a basic feature to support all Logic operators mentioned [here](https://restdb.io/docs/querying-with-the-api).

[2020-04-07 08:12] weisswurstkanone commented on #189
a PR would be nice 😄
see https://github.com/pimcore/data-hub/blob/1a640d6574efc82708aeee69f0cedcd1fc353888/src/GraphQL/Helper.php

[2020-04-07 13:45] weisswurstkanone commented on #188
Not sure if I can follow you :-)

[2020-04-07 13:47] #185 closed

[2020-04-07 22:25] julmot commented on #188
@weisswurstkanone So I have configured a script within the Pimcore Tag & Snippet Management. I have not added any exclude RegExp. But even then, this snippet will not be added to the source code in the Pimcore admin interface. In the Pimcore GraphiQL Explorer (when opened as tab) it's added though. From my point of view tags should only be added in non-Pimcore routes.

[2020-04-08 09:42] #175 closed

[2020-04-08 10:08] #187 closed

[2020-04-08 10:08] weisswurstkanone commented on #187
@solverat thanks for your investigations!

[2020-04-08 11:31] bramstroker opened #194 "Error/Exception formatting"
When requesting an non existing object using datahub the following result is returned:

Query:
[code]

Response
[code]

Because of the generic message "Internal server error" our client cannot know what is wrong.

This behaviour is described in the Webonyx GraphQL documentation.
https://webonyx.github.io/graphql-php/error-handling/

The default behaviour is all exceptions not implementing `ClientA

[2020-04-08 11:43] weisswurstkanone commented on #194
Note that an exception can be thrown anywhere (there are other places in QueryType and trillion places outside of that class). We should at least implement this for other getters as well (put everything inside a try/catch block)
What would be the result in case ClientAware exception ?

Maybe have a look how this is handled in WebserviceController (could be an option to handle this at a central pla

[2020-04-08 14:35] bramstroker commented on #194
Here is the actual code that handles the `ClientAware` check. https://github.com/webonyx/graphql-php/blob/master/src/Error/FormattedError.php#L186.

I didn't read about the `Debug` flags yet. That would help in my case to also include the real exception message with `Debug::INCLUDE_DEBUG_MESSAGE`.
However when we enable this flag on production it will print ALL possible exception messages to the e

[2020-04-08 14:41] weisswurstkanone commented on #194
Ok, could you please provide a PR with a PoC showing the basic concept (maybe covering the most obvious aspects for now)? Would love to get a hands on experience.

[2020-04-16 07:11] dpfaffenbauer opened #197 "Filter or not working as expected"
Is a Pimcore Problem in combination with DataHub

This query does not work as expected and creates and AND condition instead of a given or

[code]

This query works:

[code]

I think the Problem happens here:
https://github.com/pimcore/data-hub/blob/master/src/GraphQL/Resolver/QueryType.php#L383

The params should already be what I give DataHub in the first level of filter.

[2020-04-16 07:43] dvesh3 commented on #197
Unable to reproduce
![image](https://user-images.githubusercontent.com/5137917/79428472-7ddb5600-7fc6-11ea-9e09-3e22a0bb588e.png)
please see https://github.com/pimcore/data-hub/issues/178

[2020-04-16 07:48] dpfaffenbauer commented on #197
Yep, I see where the problem is, I am running an outdated version. Let me update it and try again.

[2020-04-16 07:54] dpfaffenbauer commented on #197
yep, working with 0.6.

So, this is broken than for the deprecated webservices and not graphql anymore.

Thanks @dvesh3 for your help :)

[2020-04-16 07:54] #197 closed

[2020-04-16 08:06] dvesh3 commented on #197
@dpfaffenbauer this was fixed in webservices only https://github.com/pimcore/pimcore/pull/6094 and then we decoupled it for data-hub https://github.com/pimcore/data-hub/issues/179 so this was fixed in both places. 😉

[2020-04-16 08:07] dpfaffenbauer commented on #197
ok, good to know as well :)

[2020-04-17 19:20] julmot opened #199 "DataHub Stable Release"
Since I've seen that the [Early Preview warning](https://github.com/pimcore/data-hub/commit/b7f37e40137ebcea30d54d2f13c96feeae51b82d) was removed and we're using DataHub even in production, as in our most recent [Vespa Shop](https://shop.vespa.ch) project – currently in a hybrid architecture, where the configurator is decoupled with DataHub, but landing pages and checkout aren't due to the lack of

[2020-04-20 15:25] dpfaffenbauer opened #200 "Permission Denied on Asset in non configured Folder"
This is more a discussion than a bug-report. When you configure Data-Hub to only allow assets from folder "/products" and you create a query for an object that has an image outside that folder, DataHub triggers an internal server error/permission denied error.

Whereas IMO: It should just not serve the image. WDYT?

[2020-04-20 15:28] weisswurstkanone commented on #200
I agree.

@dpfaffenbauer see https://github.com/pimcore/data-hub/blob/master/doc/graphl/Security.md
regarding error handling.

Default setting is that such things get silently dropped.
If this isn't the case then it sounds like a bug.

[2020-04-20 15:29] dpfaffenbauer commented on #200
then it is a bug ;)

[2020-04-20 15:41] weisswurstkanone commented on #200
@dpfaffenbauer , can you describe your data model in more detail?
Is it a manytoonerelation, an image, hotspotimage, etc we are talking about ?

[2020-04-20 15:43] dpfaffenbauer commented on #200
that is the query:

[code]

As you can see, it is a gallery with hotspot images.

DataHub Config is pretty simple:
 - Allowed Images Field

Allowed Assets but only allowed folder "/products". When you then upload an image to lets say "/default_upload_bucket" it fails.

[2020-04-20 16:02] weisswurstkanone commented on #200
also related: https://github.com/pimcore/data-hub/issues/194

[2020-04-20 16:18] #200 closed

[2020-04-20 16:19] dpfaffenbauer commented on #200
awesome, thanks

[2020-04-21 15:25] weisswurstkanone commented on #194
@bramstroker any news on this ?

[2020-04-21 15:28] bramstroker commented on #194
@weisswurstkanone will hopefully make a POC this week or next week. Very busy lately so didn't have any spare time to work in this yet.

[2020-04-22 08:24] #188 closed

[2020-04-22 09:16] ttheuerkauf opened #203 ""Internal Server Error" using Mutation "create" and mandatory translated field"
I have a problem when trying to create a new object by mutation "create", if this object has a mandatory field which is translated (into two languages):

![grafik](https://user-images.githubusercontent.com/48792043/79962912-f8a1e680-8488-11ea-8248-fcdb46967018.png)

If I switch the field "name" to non mandatory, the object can be created correctly.

This behaviour is in my opinion somewhat clear,

[2020-04-22 09:23] weisswurstkanone commented on #203
Currently no. Maybe we should add a flag to the create operation.
Can you create a PR please ?

Dirty workaround for now could be:
- add a listener to ExecutorEvents::PRE_EXECUTE
- in the event handler add a listener to DataObjectEvents::PRE_ADD and call $e->getObject()->setOmitMandaroryCheck(true)

[2020-04-22 12:36] #203 closed

[2020-04-22 19:51] Graphicscore opened #205 "Authentication with Session / User instead of api token"
Hi,
I was wondering if there is any support for authenticating GraphQL / Webservice queries with a pimcore user / session. I don't want to use a static api key but would like to use some sort of session tokens that will be acquired through a login.

Did I miss something or is there a trick ? 😄

[2020-04-23 06:24] julmot commented on #205
Related to: #156

[2020-04-23 06:53] solverat commented on #205
Using sessions can be a real performance killer. Using something like JWT should be the better approach while working with api frameworks right?

[2020-04-23 06:59] Graphicscore commented on #205
@solverat I would be fine with using JWT. I would like to restrict access to certain parts of the API and/or  return data based on who is doing the request. For example having multiple users with different usergroups and return different data depending on which usergroup they have. Is there something like this planned or is there some documentation on how I would do that ?

[2020-04-23 07:15] julmot commented on #205
@Graphicscore I love that someone brings this up. I've already asked for this on the last Pimcore conference.

I agree, would be great to consider personalized content in this regard too. DataHub should step by step offer all of the Pimcore specific features (also e.g. Tag & Snippet Management, etc.) in the GraphQl API too.

[2020-04-23 12:46] PMarci opened #206 "Interface implementation types returned as empty objects in lists"
I've been trying queries with DataHub for an integration project and noticed what seems to be incorrect behavior when querying with inline fragments.
Here's a query that asks for properties on a trivial DataObject class with type `property_text`
![image](https://user-images.githubusercontent.com/22032937/80100623-7c82ce00-8570-11ea-9f1f-bed957a55694.png)
an empty object appears in the list, presum

[2020-04-23 12:53] PMarci commented on #206
This is on DataHub commit `dev-master#4401634` but seen as this affects DataObjects I suspect it's much the same on `master` as well.

[2020-04-23 12:59] PMarci commented on #206
Works the same on `0.6`.
![image](https://user-images.githubusercontent.com/22032937/80102429-00d65080-8573-11ea-8ad5-c6571e0c579d.png)
![image](https://user-images.githubusercontent.com/22032937/80102469-0c297c00-8573-11ea-9fca-19bf34a6345c.png)

[2020-04-23 17:39] julmot opened #207 "[Feature Request] Make it possible to load objects from specific hierarchy level"
When building a Product Listing Page we want to show items of the first hierachy level, which is the color variant in our case. Further nested levels like size etc. should not be displayed on the listing page, only on the detail page.

With our own PR #150 we've introduced the possibility to get children, so we could theoretically call something like a `getProductListing`, then directly go on the

[2020-04-23 17:46] juckerf commented on #207
probably it would help to have POST_BUILD event instead of just a PRE_BUILD (to extend behaviour of core types, resolvers etc.) or to have some way to inject some advanced custom filter logic in the "*Listing"-Endpoints (the current filter only allows to filter based on fields of the objects database table)

[2020-04-24 08:39] thomas-gravel opened #208 "GraphQL Mutation createAssetFolder always said "unable to resolve parent""
If you call the createAssetFolder with parentId and/or path, you will ever get the answer "unable to resolve parent".

I debugged this and find out, that there is a Bug or a missing Feature.
The call always search in the table objects not in the table asset.

I fixed it with the code bellow in the File "src/GraphQL/Mutation/MutationType.php" at Line 662:
if (isset($args["parentId"])) {

[2020-04-24 08:49] weisswurstkanone commented on #208
True, also documents are missing. Can you create a PR please ?
Documents are missing around line 685 too.

[2020-04-24 09:07] dvesh3 commented on #206
@PMarci This is not a bug. Either use `keys` argument to filter properties or define all property types https://github.com/pimcore/data-hub/blob/master/doc/graphl/querysamples/Sample_ElementProperties.md#request

[2020-04-24 09:31] thomas-gravel commented on #208
I think there is no call for createDocumentFolder in the file.
It think this is a new feature ....

[2020-04-24 09:33] weisswurstkanone commented on #208
I see, should be a one-liner. Can you add that as well? Maybe it makes sense to change the title of this issue :-)

[2020-04-24 10:43] PMarci commented on #206
Based on the GraphQL documentation one would think that defining the implementing type of the `ElementProperty` interface _would be the filtering_, and that the inline fragment should prevent empty objects from appearing. If one is forced to have prior knowledge of the properties defined on a particular object in order to avoid empty `ElementProperty` objects from showing up, that precludes many a

[2020-04-24 10:46] PMarci commented on #206
Scratch that, it would seem this query from the demo behaves the same way.
![image](https://user-images.githubusercontent.com/22032937/80204665-916f6800-8629-11ea-94ff-6a81567f7675.png)
So it seems we'll have to just live with this behavior.

[2020-04-24 10:46] #206 closed

[2020-04-25 09:46] weichee76 opened #210 "Attempt to use LocaleSwitcher Operator for createObject Mutation caused error and GraphiQL non-usable"
Understand that DataHub is still new. Hope this helps the team to troubleshoot.

To replicate issue, just create an LocaleSwitcher operator, drop any localizedFields element as child, save changes and try to open GraphiQL.

Error observed as follows
`Uncaught PHP Exception Symfony\Component\DependencyInjection\Exception\ServiceNotFoundException: "Service "typegenerator_mutationoperator_localeswitc

[2020-04-27 13:47] weisswurstkanone commented on #210
thx for the hint

[2020-04-27 13:47] #210 closed

[2020-04-28 05:50] juckerf commented on #207
something like the legacy condition logic for webservices (https://pimcore.com/docs/6.x/Development_Documentation/Web_Services/Query_Filters.html#page_Legacy-Mode), just for data-hub, would allow one to add any custom filter logic to a query.
what do you think about it @weisswurstkanone ?

[2020-04-28 07:25] weisswurstkanone commented on #207
well, the code is already there and used for normal listings. see
https://github.com/pimcore/data-hub/blob/1a640d6574efc82708aeee69f0cedcd1fc353888/src/GraphQL/Helper.php#L19

[2020-04-28 09:30] juckerf commented on #207
If my understanding is correct this only allows very limited filter possibilities (based on simple equals, Like, gt, lt "where"-conditions on columns of the objects table).-- Sent from my Android phone with GMX Mail. Please excuse my brevity.On 28/04/2020, 09:25 Josef Aichhorn <notifications@github.com> wrote:

  well, the code is already there and used for normal listings. see https://github.com/

[2020-04-28 09:35] weisswurstkanone commented on #207
Sounds like a very special use case, maybe it is better to use a custom endpoint which gives you the full flexibility.

see https://github.com/pimcore/data-hub/blob/master/doc/graphl/AddCustomQuery.md

[2020-04-28 10:08] julmot commented on #207
@weisswurstkanone Yes, but then we'd have to re-implement all of the Pimcore standard functionality like mentioned in my initial post. And we'd like to avoid that. If there would be a simple way to hook into DataHubs response that allows to filter for the hierarchy level like we need it here, this would be a much cleaner way and scalable.

[2020-04-28 10:17] juckerf commented on #207
I agree that the use case is very specific. That's why I try to come up with a generic solution which probably would be beneficial to all pimcore users.A custom query as proposed would be one solution for our use case but as @julmot mentioned this means we have to copy&paste a lot of existing data-hub code.-- Sent from my Android phone with GMX Mail. Please excuse my brevity.On 28/04/2020, 11:36 J

[2020-04-28 10:17] weisswurstkanone commented on #207
Can you provide a PoC that works for you ?

[2020-04-29 09:35] juckerf commented on #207
before getting into PoC implementations I'd like to discuss possible solutions. The one I came up now would provide a new event to hook into the listing resolver somewhere before the list is actually loaded (https://github.com/pimcore/data-hub/blob/master/src/GraphQL/Resolver/QueryType.php#L395).
An example would look like this:
[code]

The event has access to the listing object and the arguments

[2020-04-29 09:47] weisswurstkanone commented on #207
I would say an additional event doesn't hurt. What do others think ?

BTW, do we have a section in the documentation about available events ?

[2020-04-29 10:46] weisswurstkanone commented on #208
fixed via https://github.com/pimcore/data-hub/commit/d1dcf622be56cbd3a7be2ec524d379751ca2c5f9

[2020-04-29 10:46] #208 closed

[2020-04-29 17:22] juckerf commented on #207
I implemented a POC implementation, see PR #213
And yes, there's already a documentation section about events: https://github.com/pimcore/data-hub/blob/master/doc/graphl/Events.md

Another thing I'd like to discuss in this context: how about adding a POST_BUILD MutationType/QueryTypeEvent called at the end of the schema build (e.g. https://github.com/pimcore/data-hub/blob/4bc63245e78ceffe41f315305

[2020-04-30 10:42] weisswurstkanone opened #214 "Enforce workspace permission checks at a central place"
What needs to be refactored is to eliminate all duplication of the isAllowed checks. All these lines are copy/pasted everywhere.
if (!WorkspaceHelper::isAllowed($element, $context['configuration'], 'read')) {
    if (PimcoreDataHubBundle::getNotAllowedPolicy() == PimcoreDataHubBundle::NOT_ALLOWED_POLICY_EXCEPTION) {
        throw new NotAllowedException('not allowed to view document');
    } else

[2020-04-30 16:09] julmot commented on #207
Closed as per our contribution in #216. Thanks to @juckerf

[2020-04-30 16:09] #207 closed

[2020-04-30 16:11] julmot opened #217 "Error: Parameter "clientname" for route "admin_pimcoredatahub_config""
We've just pulled the most recent DataHub changes and got the following error when clicking on the "Open in Tab" button in the schema editor:

![000257](https://user-images.githubusercontent.com/8310677/80733382-ec173100-8b0d-11ea-9a9b-0bc62f51be77.png)

![000256](https://user-images.githubusercontent.com/8310677/80733305-d144bc80-8b0d-11ea-9dc6-1d4c788bf308.png)

Maybe related to:
https://github.

[2020-05-01 09:03] weisswurstkanone commented on #217
Unable to reproduce on demo.pimcore.fun which is on dev-master.
Make sure that this is not a JS caching problem.

[2020-05-02 15:35] yvess commented on #217
I'm having the same problem. When I revert the commit 61bc92d6195df960a2daafd15d4e4fab0a7be84d it works again

[2020-05-04 04:23] xavier-experion commented on #217
I am also facing the same issue, @yvess  How can I resolve it?

[2020-05-04 07:13] juckerf commented on #189
@SRaromicon in the meantime you can also try to use the POST_BUILD and PRE_LOAD events as described here https://github.com/pimcore/data-hub/blob/master/doc/graphl/Events.md#example-3-add-custom-arguments-to-existing-types

[2020-05-04 07:37] weisswurstkanone commented on #217
Temporarily reverted mentioned commit. Needs further investigations.

Reason for the change was that it stopped working after Pimocre\Routing\Element\Router was introduced.
https://github.com/pimcore/pimcore/commit/dff36f6c1426a772f8a445efc23fc4a9f2403a00

[2020-05-04 09:04] julmot commented on #217
@weisswurstkanone @brusch From my point of view this is another example, why we need [semantic versioning](https://github.com/pimcore/pimcore/issues/4647) and why a [release description](https://github.com/pimcore/pimcore/pull/6085#issuecomment-620130508) would be very helpful.

[2020-05-04 09:49] weisswurstkanone commented on #217
@julmot for reference: https://github.com/pimcore/pimcore/pull/6297#issuecomment-619981427

[2020-05-05 07:53] dvesh3 commented on #217
Hi @julmot, updating Pimcore to 6.6.2 should fix your issue.

[2020-05-05 10:10] #194 closed

[2020-05-07 05:35] #217 closed

[2020-05-07 11:40] dpfaffenbauer opened #219 "Asset List implementation"
Any plans or even ETA?

[2020-05-07 11:45] weisswurstkanone commented on #219
No, but we can prioritize this if needed.

Anybody who wants to volunteer?

[2020-05-07 11:59] dpfaffenbauer commented on #219
we currently use a workaround with getAssetFolder, so I think it is almost there, isn't it?

[2020-05-07 12:01] weisswurstkanone commented on #219
Yes, almost. The rest can be taken from the object listing maybe

[2020-05-07 14:38] weisswurstkanone commented on #219
thx @dpfaffenbauer for working this.
linked PR: https://github.com/pimcore/data-hub/pull/222

[2020-05-11 05:50] vinitchopra12 opened #223 "Feature Request: Filter with Array"
Hello,

I am looking for the solution where I can filter the query with mutliple field records in GrapQL.

Eg:
I want to get the products based on the SKU field at a time.
[code]
Is there any way to achieve this. Please advice.

Thanks,

[2020-05-11 06:15] NiklasBr commented on #223
It is not, I requested such a feature but that issue was closed: https://github.com/pimcore/data-hub/issues/81#issuecomment-508493203

[2020-05-11 07:53] weisswurstkanone commented on #223
What is the difference to https://github.com/pimcore/data-hub/issues/189 ?

[2020-05-14 06:00] saninshakya opened #224 "How to filter query in graphQL one to many relation?"
I have two tables tire and brand. They have one-to-many relationship. So when I try following query

[code]
I am getting following result.

[code]

Now I need to filter tire with brand name, so I tried

[code]

but I am getting error Column not found: 1054 Unknown column 'brandName' in 'where clause'

[2020-05-14 09:26] weisswurstkanone commented on #224
List filtering based on attributes of referenced objects is not supported.

Please see https://pimcore.com/docs/6.x/Development_Documentation/Web_Services/Query_Filters.html for current features.

Do not forget
https://gitter.im/pimcore/pimcore and
https://talk.pimcore.org/

for questions and discussions ;-)

[2020-05-14 09:26] #224 closed

[2020-05-14 11:00] Sonja-Schubert opened #225 "sqlObjectCondition only used for listings"
Hi There,
this could be a bug report or a feature request, depends on what you think.

Current Situation:
After searching the code I see that the content from datahub config field "SQL Condition" is only used for getListing requests and not for ALL queries like the comment above the field says.

Would be great:
It would be great, if this sql condition would also be matched before doing mutations /

[2020-05-14 11:02] weisswurstkanone commented on #225
This is a feature request and there are no plans to support this.

You can either
a) get the elements first and then delete thim

or

b) add a custom endpoint which fits exactly to your needs. There is an example in the docs.

[2020-05-14 11:07] Sonja-Schubert opened #226 "Additional event for custom permission check"
Hi There,
I found the DataHub Event documentation on this page: https://github.com/pimcore/data-hub/blob/master/doc/graphl/Events.md

Situation:
I would like to use an event listener to implement a further permission check. For listings I found the solution with the event ListingEvents::PRE_LOAD liked described in documentation. But I need the same check for mutations and deletions.
I tried to use

[2020-05-14 11:19] weisswurstkanone commented on #226
Can you paste a sample here to better understand what you are trying to accomplish?

Did you have a look at pimcore's built-in events already
https://pimcore.com/docs/6.x/Development_Documentation/Extending_Pimcore/Event_API_and_Event_Manager.html ?

[2020-05-14 11:31] Sonja-Schubert commented on #226
Hi,
Thank you for your fast answer. Sure I would like to do the following:
I have a restricted area on the website, where the login is done with members. In this restricted area an angular frontend shows dataobjects in a table and allows the logged in user to list, update and delete the dataobjects. I use the datahub as data provider for this angular frontend. I would like to add a further permiss

[2020-05-14 11:36] weisswurstkanone commented on #226
so DataObjectEvents::PRE_DELETE and so on

https://github.com/pimcore/pimcore/blob/6f8b0925f60cfa64a4f64689617cbb6bf65f79ac/lib/Event/DataObjectEvents.php

is not sufficient ?

[2020-05-14 11:39] Sonja-Schubert commented on #226
Is it possible to check if the request comes from a datahub call? Because I don't want to check my custom permissions every time someone in Pimcore backend delete something...

[2020-05-14 11:41] Sonja-Schubert commented on #225
Hi,
Thank you for your answer. ok I will have a look at the custom endpoint then..
But the field description above the sqlObjectCondition field in backend should be changed through, shouldn't it?
Kind regards,
Sonja

[2020-05-14 11:49] weisswurstkanone commented on #225
Please create a new ticket with a title that better suits the need in case you don't find anything. I'll close this one for now.

One option I can think of is to finish
https://github.com/pimcore/data-hub/issues/214
first and add event there that allows to override the decision.

[2020-05-14 11:49] #225 closed

[2020-05-14 13:17] ttheuerkauf opened #227 "Internal Server Error on createObjectFolder"
When creating an object folder with
[code]
PimCore returns
[code]
Error in Logfile is
`pimcore.ERROR: Class: Pimcore\Model\DataObject\Folder => call to undefined method setFilename [] []`

I think, this is caused by this line in file `src\GraphQL\Mutation\MutationType.php`:
![grafik](https://user-images.githubusercontent.com/48792043/81938890-dddd1080-95f5-11ea-8e50-c6252edfa3f9.png)

Is there any

[2020-05-14 13:26] ttheuerkauf commented on #227
Found out that it is commit d1dcf622be56cbd3a7be2ec524d379751ca2c5f9

[2020-05-14 14:12] weisswurstkanone commented on #227
thx!

[2020-05-14 14:12] #227 closed

[2020-05-14 14:17] weisswurstkanone commented on #226
could be added as an event to  https://github.com/pimcore/data-hub/issues/214

[2020-05-15 02:17] mrpdean commented on #224
Just curious, are there any plans to support this in future?

[2020-05-15 06:15] Sonja-Schubert commented on #226
After one night of sleep and searching the documentation... I would really appreciate an event in #214 cause this would be a central place for such checks.

[2020-05-15 19:11] romainbessugesmeusy commented on #214
Hi, is it the reason we see a huge amount of queries like this:
`SELECT `read` FROM plugin_datahub_workspaces_object WHERE cid IN (1,1598,1215,1214,1213,24,20,11,10,1,1600) AND configuration = 'mg-app' AND `read`=1 ORDER BY LENGTH(cpath) DESC LIMIT 1` ?

[2020-05-16 09:07] romainbessugesmeusy opened #228 "Remove isAllowed check if not needed"
I notice a big overhead induced by `isAllowed` being called each time an object is queried. As we use data-hub and graphQL at build time with a Gatsby project, we do not need to enforce Workspace permissions, especially not every time an object or its parents are matched.

What would you think of a flag in the `Configuration` object, that would dictate if permissions are enforced or not ?

[2020-05-17 08:23] romainbessugesmeusy commented on #217
It is still broken when using Pimcore 6.6.4 and DataHub 0.6.1. Is there a workaround?

[2020-05-17 09:31] romainbessugesmeusy opened #229 "Increase verbosity of Field definition warning"
It would be helpful to give more context to the missing field definition warning here.

https://github.com/pimcore/data-hub/blob/f1c77f06599d40ba7187a7043ff9f2a4b503211c/src/GraphQL/FieldHelper/DataObjectFieldHelper.php#L99-L103

Here's what I would recommend:
[code]

[2020-05-17 12:09] yvess commented on #217
@romainbessugesmeusy the easiest workaround is to use the master version until the next release

[2020-05-18 08:17] weisswurstkanone commented on #217
@romainbessugesmeusy https://github.com/pimcore/data-hub/releases/tag/v0.6.2

[2020-05-18 08:19] weisswurstkanone commented on #229
Hi @romainbessugesmeusy , can you submit a PR please? Thx!

[2020-05-18 08:23] weisswurstkanone commented on #228
Would not add it  to the configuration but maybe as a event which gives feedback if decision already has been made (granted or denied).
Also see https://github.com/pimcore/data-hub/issues/226
What do you think?

[2020-05-18 08:32] romainbessugesmeusy commented on #228
If my understanding is correct, your proposal implies that I would have to bind a listener to a `PRE_PERMISSION_CHECK` event and return something like `"bypassPermissionCheck" => true`. And this would skip the permission check process ?
It's clearly doable but I feel like it's a tad overkill, don't you think?

[2020-05-18 08:39] weisswurstkanone commented on #228
I would say that bypassing checks should be the exception, but yes, I see your point

[2020-05-18 08:47] romainbessugesmeusy commented on #228
It depends on the community's usage of DataHub. I don't know what's the most frequent use case for Data-hub at the moment, but I wanted to share you mine. We're building  a Gatsby e-commerce front-end. This means our 70 000+ product pages are statically built by a runner in the Netlify cloud. Every second I gain on the DataHub side is a second I won't pay on the Netlify side.

That's why, for me a

[2020-05-18 08:56] weisswurstkanone commented on #228
Correction: I was talking about #214 which has to be done first anyway. A PR covering both aspects would be nice, otherwise we should add this to the todo list.

[2020-05-19 06:10] SimonBader opened #230 "The GraphQL schema does not return a Data Object field description"
The GraphQL schema does not return a Data Object field description except of 'Calculated Value' which returns its tool-tip text (in /src/GraphQL/DataObjectQueryFieldConfigGenerator/CalculatedValue.getGraphQlFieldConfig line 43):
`'description' => $fieldDefinition->getTooltip()`

Is the any concept of what should be returned as Data Object field description in the GraphQL schema? In case it is the

[2020-05-25 13:53] #229 closed

[2020-05-25 14:01] weisswurstkanone commented on #230
I don't think that the tooltip (as a UI thing) is suitable for this.

[2020-05-25 19:36] NiklasBr commented on #230
Well, the tooltip is pretty much the only thing available if you want to describe your data in Pimcore, so I would like it ;)

[2020-05-25 20:19] bramstroker commented on #228
When this permission checks are moved to a central place as suggested by me before, it would be easy enough to make the permission checks optional by introducing some configuration option for this. Than each client can decide if they need this permission validation. In our use case we have a front-end application requesting graphql through a middleware, so we are also not interested in any permiss

[2020-05-26 08:29] weisswurstkanone commented on #230
Just one example ... for a slider: you will never use a tooltip to describe the min / max value because in the UI it is obvious to the user.

[2020-05-26 08:54] NiklasBr commented on #230
Never claimed it was even close to the perfect field to use, just that it was the best, no it is in effect the *only* field available...

[2020-05-26 09:35] SimonBader commented on #230
The proper solution would probably be to extend the data-hub 'Schema Definition' -> 'Query Schema / Mutation Schema' -> 'Entity' and 'Available Fields' mapping by a 'description' field. That seems like quite a bit of work to me.

[2020-05-29 13:55] romainbessugesmeusy opened #234 "WYSIWYG data type returns NULL"
Hey,
Do you know how we can retrieve some html content from a WYSIWYG field? It seems to be returning null in our latest installation of Pimcore and Data-Hub. Thanks

[2020-05-29 14:00] dvesh3 commented on #234
works on demo..please share your exact versions!
![image](https://user-images.githubusercontent.com/5137917/83268063-61395d00-a1c5-11ea-878e-4dda59012c39.png)

[2020-05-29 14:19] Endika-hub opened #235 "GraphQl filter nested objects"
Hello.

I am trying to filter results by nested objects fields but i have problems to make it.

Is there any solution to do this?

Thanks for support.

[2020-05-29 15:00] romainbessugesmeusy commented on #234
Sorry I didn't notice my field was under a LocalizedFields... So I needed to ask
 { review(language: "en") }

[2020-05-29 15:00] #234 closed

[2020-06-03 08:03] #214 closed

[2020-06-03 08:03] #228 closed

[2020-06-03 09:32] micru commented on #113
Hi, just wondering, are there any plans to implement the features as suggested by @julmot ? Our customers also rely very heavily on areabricks for documents and so do a lot of other Pimcore users i assume. For us the possibility to request data from areabricks via graphQL would be an absolute necessity, as we develop more and more single page JavaScript PWA

[2020-06-04 13:29] weisswurstkanone commented on #235
Please use our discussion forums.

https://talk.pimcore.org/
https://gitter.im/pimcore/pimcore

[2020-06-04 13:29] #235 closed

[2020-06-04 13:34] weisswurstkanone commented on #230
Not sure if we even need a description. Doing it with tooltips should be easy but I don't see a real use case.
@SimonBader what do you think? Which audience do you have in mind?

[2020-06-09 14:37] SimonBader commented on #230
@weisswurstkanone In our case, the data objects which are exposed by the GraphQL API will not be edited manually. That means we would simply use the tooltip field for the API description: the only audience would be the developers consuming our GraphQL API.

[2020-06-09 14:42] weisswurstkanone commented on #230
ok, then please go ahead 👍

[2020-06-25 20:59] AustinKobayashi opened #241 "Uncaught TypeError When Accessing Datahub Config"
I receive the error "Uncaught TypeError: Cannot read property 'metaData' of null" when trying to access the Datahub Config window on a newly installed Databub Bundle running on the Pimcore skeleton project.

![image](https://user-images.githubusercontent.com/14931192/85794542-aa5cce00-b6eb-11ea-99a8-bba8ec363567.png)

The Datahub Config window is then stuck with the "Loading" icon and is not inter

[2020-06-26 07:41] weisswurstkanone commented on #241
Anything special in the network panel ?

[2020-06-26 09:29] AustinKobayashi commented on #241
Hey weisswurstkanone, thanks for getting back to me! I don't see the network panel as a tab in Pimcore, is it marked under a different name? For additional information, I'm running this on an ec2 T2.micro instance, although I'm not sure if that will make a difference.

[2020-06-26 09:35] weisswurstkanone commented on #241
Screenshot is from the developer console, right? So there must be a network tab as well.

[2020-06-26 09:38] AustinKobayashi commented on #241
Developer console network tab, my bad. Doesn't appear to be anything interesting

![image](https://user-images.githubusercontent.com/14931192/85843514-1d9b2a00-b756-11ea-9538-dfb758a6d10e.png)

[2020-06-26 09:39] weisswurstkanone commented on #241
Everything fine in the response ?

[2020-06-26 09:40] AustinKobayashi commented on #241
Response returns null, that is something interesting

![image](https://user-images.githubusercontent.com/14931192/85843708-66eb7980-b756-11ea-9d95-c735172043d0.png)

[2020-06-26 09:47] weisswurstkanone commented on #241
I was able to reproduce it by deleting all configurations and then reentering ...

[2020-06-26 09:50] AustinKobayashi commented on #241
I was wondering if another package may be a dependency, but from the readme I'm guessing not. Please let me know if I can provide any other information!

[2020-06-26 10:00] weisswurstkanone commented on #241
fixed in 0.6.3

[2020-06-26 10:00] #241 closed

[2020-06-26 10:02] AustinKobayashi commented on #241
Sorry, I'm relatively new to the Pimcore stack. Is there a command or way to update to 6.3?

[2020-06-26 10:09] weisswurstkanone commented on #241
I am referring to the data-hub 0.6.3 release

https://github.com/pimcore/data-hub/releases/tag/v0.6.3

[2020-06-26 10:12] AustinKobayashi commented on #241
I really appreciate the help @weisswurstkanone! I'm not super familiar with composer, could I update it with this command for example?

`composer require pimcore/data-hub:0.6.3`

[2020-06-26 10:13] weisswurstkanone commented on #241
"composer update" should do it

[2020-06-26 10:21] AustinKobayashi commented on #241
Great, I appreciate the help!

[2020-07-02 21:57] kobs123 opened #242 "Create Data Object Variant"
Does Datahub have the functionality to create a data object variant with a mutation? I couldn't find anything about it in the documentation or the Documentation Explorer tab

[2020-07-03 06:50] julmot commented on #242
Have you seen this?

https://github.com/pimcore/data-hub/blob/master/doc/graphl/Mutations.md#create-object

[2020-07-03 07:10] weisswurstkanone commented on #242
I believe that there is currently no way to differentiate between regular object and variant as the o_type is not exposed in the column configurator (which I wouldn't do).

However, we could add this is as a argument somewhere around
https://github.com/pimcore/data-hub/blob/75c82dbcebe109c2f3437e46cd1e8bb5df59b5ec/src/GraphQL/Mutation/MutationType.php#L190

Can you create a PR for that please ?

[2020-07-03 07:32] weisswurstkanone commented on #242
Already made the change

[2020-07-03 07:32] #242 closed

[2020-07-03 16:20] kobs123 commented on #242
Thanks!

[2020-07-06 10:05] Iblis opened #243 "Support sending apikey via headers in addition to sending it via query param"
We would like to send the apikey via header, using either 'X-API-Key' or 'apikey' as the header key.
I can provide a PR for that if the feature is accepted.

[2020-07-06 10:12] weisswurstkanone commented on #243
I guess both ways should be supported.

[2020-07-06 10:20] Iblis commented on #243
Yes, I wrote this in a confusing way and will correct it: Not instead, but in addition to query param

[2020-07-06 10:53] fashxp commented on #243
but headers should be the preferred way (mentioned in docs etc)

[2020-07-06 10:56] weisswurstkanone commented on #243
@Iblis can you add a note please

[2020-07-16 12:08] weisswurstkanone commented on #243
@Iblis ping

[2020-07-16 12:43] Iblis commented on #243
Hi there! Sorry, got swamped the last days. I am still eager to work on this, but won't happen the next days. @weisswurstkanone should I add/prepare something here already?

[2020-07-16 12:44] weisswurstkanone commented on #243
Take your time! Thx :-)

[2020-07-20 15:53] Bongsakorn opened #245 "Hang up when install"
Hello,

I'm starting to using Pimcore and would like to use Graphql to retrieve data from them. But I got hung up when install this bundle in ```Updating dependencies (including require-dev)``` step.

Thank you in advance.

[2020-07-20 16:02] weisswurstkanone commented on #245
Please consult the forum for general discussions.

https://gitter.im/pimcore/pimcore
https://talk.pimcore.org/

[2020-07-20 16:02] #245 closed

[2020-07-21 07:55] hellosmriti opened #246 "Which directory do I run this in "composer require pimcore/data-hub:dev-master""
I'm not able to understand where exactly this command should be executed?
**composer require pimcore/data-hub:dev-master**

Location is "C:\xampp\htdocs\pimcore" where pimcore is my project's name.

[2020-07-21 07:57] weisswurstkanone commented on #246
Please consult the community forums for general questions:

https://gitter.im/pimcore/pimcore
https://talk.pimcore.org/

[2020-07-21 07:57] #246 closed

[2020-07-21 10:06] hellosmriti opened #247 "PimcoreDataHunBundle enabled but still not visible in /admin --> Settings"
PimcoreDataHunBundle enabled under /admin --> Tools --> Bundles

![image](https://user-images.githubusercontent.com/54179597/88041586-41d90380-cb68-11ea-86df-2e704d335f0b.png)

![image](https://user-images.githubusercontent.com/54179597/88040864-2b7e7800-cb67-11ea-9af7-21da56af6fea.png)

But it is still not visible under /admin --> Settings

<img width="239" alt="Untitled" src="https://user-images

[2020-07-21 10:09] dvesh3 commented on #247
Probably discuss this topic in our forums https://talk.pimcore.org/ thanks!

[2020-07-21 10:09] #247 closed

[2020-07-21 10:12] hellosmriti commented on #247
I'm not able to raise it there.

[2020-07-23 15:02] weisswurstkanone commented on #230
@SimonBader any progress ?

[2020-07-23 15:08] #219 closed

[2020-07-24 09:22] Iblis opened #248 "Update- & Delete-Mutations (and references in relationships): allow path as an alternative to id for identifying object"
In our setup we have mutliple environments (test, perf, staging...) which have the same hierachy in regards to DataObjects, but have different internal pimcore Ids.
We rather would like to use parent-path+key, as provided with the Create-Mutation to reference our objects through graphql (in addition to being able to use the id, of course).
This would of course also be true for references inside of

[2020-07-24 11:20] julmot commented on #248
Would also be cool for documents, to be able to read documents based on path, when you don't know the ID (stage specific).

[2020-07-24 13:05] julmot commented on #113
I've just re-checked the progress on this topic, seems like there's now basic support to [read documents](https://github.com/pimcore/data-hub/blob/master/doc/graphl/DocumentQueries.md) decoupled. But seems like support for bricks is missing and also the part of integrating decoupled apps into the WYSIWYG editor of Pimcore seems to be open.

[2020-07-24 13:39] fashxp opened #249 "[Config] Fire event when configuration is deleted"

[2020-07-24 13:46] fashxp opened #250 "[ConfigItem] Optimize for extending and adding additional adapters"
extract items in `initialize` into seperate `getItems` method to allow customizing
see https://github.com/pimcore/data-hub/blob/master/src/Resources/public/js/configuration/graphql/configItem.js#L33

extract save url to class variable to allow customizing
see https://github.com/pimcore/data-hub/blob/master/src/Resources/public/js/configuration/graphql/configItem.js#L539

[2020-07-27 09:13] fashxp opened #251 "[Configuration] Make modification timestamp check more specific"
- open 2 data-hub configurations
- save one
- try to save the other --> error because of some other modification

should be possible to save not changed configurations even after other configurations were changed

[2020-07-27 16:47] SimonBader commented on #230
@weisswurstkanone No. This task is in our backlog but has not yet been given top priority.

[2020-07-28 15:02] Iblis commented on #248
I did a draft for the implementation here: https://github.com/Iblis/data-hub/tree/allow_object_path_for_update_and_delete
This does not include documents. Just wanted to see if I am on the right track here

[2020-07-31 14:32] SecretPocketCat opened #253 "Cannot query Block field"
Saving a config that includes a block fields and then trying to query results in a 500

The config looks like this
![2020-07-31 16_17_37-pimcore westeurope cloudapp azure com __ Pimcore - Vivaldi](https://user-images.githubusercontent.com/17273703/89044184-ea961880-d349-11ea-98e9-76348a4ce273.png)

Although after saving it's reduced to this (can no longer add subfields to the Block field)
![2020-0

[2020-08-02 10:01] rajesh17692 commented on #223
Also, FIND_IN_SET should be handled to support Advance Many to Many filters where we can pass multiple IDS for this type of relation in the filter

[2020-08-02 10:12] rajesh17692 commented on #205
For this, you can override GraphQL WebserviceController and in that, you can add extra security check-in performSecurityCheck function like below

$apiKey = $request->headers->get('X-Api-Key');
            $token = $request->headers->get('token');
            $userObj = User::getByUserToken($token,1);
            if ($apiKey === $securityConfig['apikey']) {
                if ($userObj) {

[2020-08-03 03:13] rajesh17692 opened #254 "Graphql should provide inter dependent data"
Hello Team,

There should be also a way so that we can fetch data from Data Object which belongs to Required By dependencies.

Can Team check on this possibility?

[2020-08-03 10:50] weisswurstkanone commented on #253
@dpfaffenbauer since you are the creator of this ... could you have a look please ?

[2020-08-03 10:51] weisswurstkanone commented on #254
@rajesh17692 , could you provide a PR please ?

[2020-08-03 12:39] MeowNekko opened #255 "GraphQL return cannot resolve parent when creating asset"
`mutation CreateAsset($filename: String!, $parentId: Int, $type: String!, $input: AssetInput) {
  createAsset(filename: $filename, parentId: $parentId, type: $type, input: $input) {
    success
    message
  }
}
`

Query variables:

`{
    "filename": "file_name2.jpg",
    "parentId": 409,
    "type": "image",
    "input": {
        "filename": "file_name2.jpg",
        "parentId": 409,
        "d

[2020-08-03 12:45] weisswurstkanone commented on #255
thx!

[2020-08-03 12:45] #255 closed

[2020-08-03 14:32] Iblis commented on #248
@weisswurstkanone any thought on that?

[2020-08-03 14:45] weisswurstkanone commented on #248
We would have to discuss this internally. Could you please create a draft PR so we get an idea of your approach?
The ID has to stay the primary lookup approach. But I can think of a way to do the lookup via the fullpath if the pimcore id is not provided.

[2020-08-03 14:46] weisswurstkanone commented on #248
To be consistent this should be possible also for all query types.

[2020-08-03 14:52] Iblis commented on #248
I will create a PR and try to find the changes needed for all query types. Might need support there.
My current implementation does exactly that: it checks for the fullpath if the id is not provided. maybe I should call it fullpath in the graphql schema to be consistent...

[2020-08-03 14:58] weisswurstkanone commented on #248
Thanks a lot!

[2020-08-03 16:11] weisswurstkanone commented on #243
implemented in #252

[2020-08-03 16:11] #243 closed

[2020-08-04 03:21] rajesh17692 commented on #254
For details please look below scenario

1) create a User class
2) create some other class like Store
3) Map user relation in store as one to Many
4) Now when I am trying to call query getStoreListing of Graphql I am getting all stores and able to get users of the store as well as relation present in Store class.

5) When trying to go call getUserListing query of Graphql not able to get a store to

[2020-08-04 07:52] weisswurstkanone commented on #254
@rajesh17692 , requirements are clear, do you want to volunteer concerning the implementation as this probably not top prio :wink:

[2020-08-04 08:21] #251 closed

[2020-08-04 11:07] weisswurstkanone commented on #253
@SecretPocketCat , I think you should not add subfields to the block. You can only add the entire block to the schema.
I know this is possible but there is currently no way to prevent this in the UI as this is code borrowed from the core. This needs to be improved.
I think we could at least this catch this on the server side (on save) for now.

Related discussion: https://github.com/pimcore/data-h

[2020-08-04 15:49] Iblis opened #257 "DataObject Listings return parents, too"
- I have a DataObject tree like the following:
Home->companies(Class 'Company')->germany(Class 'Company')->myAwesomeCompany (Class 'Company')
- I set the security definitions in data-hub like that: Object Paths: "/companies/germany/"
- I run a listing query, eg `{ result:getCompanyListing {edges {node {id}}}}`

Expectation: I only get 'myAwesomeCompany ' returned.
Actual Behaviour: I get all 3 com

[2020-08-05 07:13] weisswurstkanone commented on #257
Could you please provide a sample query which can be reproduced on demo?

[2020-08-05 08:56] Iblis commented on #257
Since this is about how your hierachy is set up, I am not sure if this can be reproduced in the demo just like that. Or am I missing something? I could try to setup the hirachie with eg cars from the demo and describe that.

[2020-08-05 09:07] Iblis commented on #257
- Go to Product Data/Cars/ac cars
- Add a new Car to 'Cobra 427' use eg 'NewCar' as the key and name
- Add a new Car to 'NewCar', eg 'YetAntoherCar' as key and name
- Create new GraphQL Endpoint for Cars, configure queries, set object path to /Product Data/Cars/ac cars/Cobra 427/NewCar
- Go to iExplorer ad use query {getCarListing{edges{node{ name classname carClass id}}}}
You get:
`{
  "data": {

[2020-08-05 09:24] SecretPocketCat commented on #253
@weisswurstkanone Thanks, I've tried that, but I'm currently getting just a non-specific 500 when there's block (either the invalid way as in the OP or just adding the block as you've suggested). (If I remove the block from the definition, graphiql loads correctly).

The only thing I found in the dev.log was
`[2020-08-04 08:35:32] php.INFO: User Deprecated: Referencing controllers with PimcoreData

[2020-08-05 09:26] weisswurstkanone commented on #257
thanks, could you please share your var/config/datahub-configurations.php file ?

[2020-08-05 09:48] weisswurstkanone commented on #253
Thanks for the log, we will put it on our list :-)

[2020-08-05 10:10] weisswurstkanone commented on #253
Unable to reproduce on pimcore.demo.fun

![image](https://user-images.githubusercontent.com/6142086/89400650-7a561100-d714-11ea-8168-da5f05e80eec.png)

![image](https://user-images.githubusercontent.com/6142086/89400682-87730000-d714-11ea-9b35-bbbce8f2e444.png)

![image](https://user-images.githubusercontent.com/6142086/89400759-9f4a8400-d714-11ea-9422-40eec0b29a9c.png)

![image](https://user-imag

[2020-08-05 10:30] weisswurstkanone commented on #257
And please paste your query

[2020-08-07 15:10] Iblis commented on #257
While playing around with it a bit, we found a case in the demo data that doesn't require adding additional data.
Here is our configuration (as txt so that Github allows the attachment), the change is in line 2967:
`"cpath" => "/Product Data/Cars/vw/Käfer/1200",`
[datahub-configurations.txt](https://github.com/pimcore/data-hub/files/5042130/datahub-configurations.txt)

Whith the following query:
`

[2020-08-10 14:00] SecretPocketCat commented on #253
We've tried removing datahub from deps, running composer, then adding it back and rerunning it, but we're still getting a non-specific 500 when we open graphiql with a configuration that contains a Block field (a request to _/pimcore-graphql-webservices/data-test-contest?apikey=xyz_).

Any pointers where should we look to drill down the 500?

[2020-08-13 11:52] julmot opened #258 "Consistent IDs"
Create an object type "Product", then you'll get at least two methods automatically:

1. `getProduct`
2. `getProductListing`

This is fine. However, `getProduct` requires an Integer as the ID, whereas `getProductListing` only accepts a string with comma separated values instead of an array.

![Anmerkung 2020-08-13 134747](https://user-images.githubusercontent.com/8310677/90131236-16fb5d00-dd6c-11e

[2020-08-13 14:17] SecretPocketCat commented on #253
@weisswurstkanone @dpfaffenbauer

I went through the logs once again and it seems like it breaks when fields are nested in layout components within the block. I could repro that on the demo instance. Removing the layout component resolved the issue.
_(I wanted to attach a screenshot and mess around a bit more, but the test instance is currently returning a 500, I assume it's getting updated)._

He

[2020-08-17 08:14] Iblis commented on #257
@weisswurstkanone any hints on the issue discovered?

[2020-08-17 09:52] weisswurstkanone commented on #258
A PR not causing a BC break is welcome :-)

[2020-08-18 13:36] weisswurstkanone commented on #257
Thanks for your investigations!
Fixed via https://github.com/pimcore/data-hub/commit/84d99b5cfd80ce993aacab3adc185276594c68f8

[2020-08-18 13:36] #257 closed

[2020-08-18 13:57] weisswurstkanone commented on #254
@rajesh17692 , do you think it is sufficient for now to simply return a list of element descriptors (type + id)? This should be fairly easy to implement.

[2020-08-18 20:42] rajesh17692 commented on #254
@weisswurstkanone  We should receive all possible columns which are available for type so that with single query we can get all parent and child results for the data.

[2020-08-19 05:52] weisswurstkanone commented on #254
@rajesh17692 can you depict a use case? Since the dependencies are rather meant for an overview ...

[2020-08-19 10:22] Iblis commented on #257
Thanks a lot!
What I realized is that I only emphasized on the parent on the top. The parent that is ON the path might be a discussion topic, too.

So now, when I call
`{getCarListing{edges{node{ name classname carClass id }}}}`
I won't get the Car with id 208 anymore, but still 209. Which sounds reasonable because it is on the defined path.
But when I activate the delete mutation and execute it,

[2020-08-19 10:43] weisswurstkanone commented on #257
Can you provide an example for the delete mutation  on demo ?

[2020-08-19 11:58] Iblis commented on #257
I tried, in my example above I am refering to the same example as in my comment further above (https://github.com/pimcore/data-hub/issues/257#issuecomment-670564909). The only difference is to add a mutation for Car and allow delete. But I can also give you the corresponding data-hub config later today

[2020-08-19 12:25] weisswurstkanone commented on #257
Excellent 👍

[2020-08-24 06:45] #253 closed

[2020-08-24 08:31] Iblis commented on #257
[datahub-configurations.txt](https://github.com/pimcore/data-hub/files/5116577/datahub-configurations.txt)
Sorry for the delay, something came inbetween. I attached the datahub config as txt again.
As mentioned, with this setup I am able to do
`mutation {deleteCar(id:209){success message}}` and thereby delete the node '/Product Data/Cars/vw/Käfer/1200'

I somehow get how you want to be able to upd

[2020-08-24 08:33] weisswurstkanone commented on #257
Yes this is intendet.

[2020-08-24 08:41] Iblis commented on #257
Thanks for clarification. Then we probably change our hierachy setup and introduce additional folders. This would still allow us to inherit data from parents, but won't allow read/update/delete requests on the parent.

[2020-08-25 08:56] weisswurstkanone opened #260 "Add support for document element - areablock query type"

[2020-08-25 11:35] #260 closed

[2020-08-25 11:35] weisswurstkanone opened #261 "Add support for document element - block query type"

[2020-08-26 13:54] #261 closed

[2020-09-07 12:45] philipproinerheraeus opened #263 "Thumbnail resolutions returning same url for different resolutions"
### Expected behavior
Create a image/media field within a class.
Create a Image Thumbnail, which will be used in a GraphQL-query.
The following query should return three different resolutions and the corresponding url:
[code]
The actual output looks like the following:
[code]
Note that the url's are all the same.

Kind regards,
Philipp

[2020-09-14 09:16] weisswurstkanone commented on #263
@julmot , @mugge6 do you wanna have a look ?
see https://github.com/pimcore/data-hub/pull/221

[2020-09-14 13:45] #263 closed

[2020-09-14 13:46] weisswurstkanone commented on #263
fixed via #264

[2020-09-17 09:25] weisswurstkanone commented on #254
@rajesh17692 ping 🏓

[2020-09-21 10:26] ThaDaVos commented on #219
Sorry for commenting on this issue - but am I right in thinking that the AssetListing isn't fully implemented yet?
One can only query `__typename` and nothing more - while on the Dataobjects one can query a lot more

[2020-09-21 12:05] #168 closed

[2020-09-22 14:05] weisswurstkanone opened #266 "Document Queries: Support both "elements" and "editables""
To be consistent with https://github.com/pimcore/pimcore/issues/6892

To be discussed: Maybe deprecate "elements"

[2020-09-24 10:56] #249 closed

[2020-09-24 14:34] weisswurstkanone opened #267 "Check for deprecated stuff"
... which will be removed in the next major Pimcore release ...

[2020-09-25 09:49] #266 closed

[2020-09-25 12:28] pimcoremohit31 commented on #205
@rajesh17692
have you integrated JWT with Graph-Ql in Pimcore?

[2020-09-25 14:01] rajesh17692 commented on #205
Yes

[2020-09-25 14:29] pimcoremohit31 commented on #205
@rajesh17692
That's great...
I am also using JWT with Graph-Ql and I want to authenticate with JWT. Can you help me if you can provide me the configuration code?
Actually, I have used your code in my code but I am not able to call this code `$userObj = User::getByUserToken($token,1);`.
I mean how I will get the token from User class?
Can you please explain in detail?
Thank you in advance.

[2020-09-25 14:33] rajesh17692 commented on #205
@pimcoremohit31  I am storing token of user with data when the user trying to log in so with the next request we can compare. token.

[2020-09-25 14:34] pimcoremohit31 commented on #205
@rajesh17692 Okay, Then how you are handling the expiring time for the token?

[2020-09-25 14:39] rajesh17692 commented on #205
@pimcoremohit31  sorry I am using below token generation method

Csrf\TokenGenerator\UriSafeTokenGenerator();

[2020-09-25 14:40] pimcoremohit31 commented on #205
@rajesh17692  Okay. So, you are not using the JWT bundle?

[2020-09-25 14:41] rajesh17692 commented on #205
No. You can user JWT instead and to validate the token with every request you can create helper function and validate after geting data from user account

[2020-09-25 14:49] pimcoremohit31 commented on #205
Okay..Thank you @rajesh17692  for you help.

[2020-09-28 10:27] weisswurstkanone opened #268 "[DocumentQuery] Support Scheduled block data type"

[2020-09-28 11:06] marcogonzalo commented on #224
Are you planning to add this functionality? We are needing to filter our products by one or more relations.

[2020-09-30 09:21] #268 closed

[2020-10-01 08:53] arsenepotsi commented on #135
Bonjour pouvez-vous m'aider avec cette erreur ?

There is no extension able to load the configuration for "pimcore_ecommerce_framework" (in /var/www/html/pimcore/src/AppBundle/Resources/config/pimcore/ecommerce/ecommerce-config.yml). Looked for namespace "pimcore_ecommerce_framework", found "framework", "twig", "monolog", "swiftmailer", "doctrine", "sensio_framework_extra", "cmf_routing", "presta_

[2020-10-06 10:03] fashxp commented on #113
we have now quite generic integrations implemented for [document queries](https://pimcore.com/docs/data-hub/current/GraphQL/Query/Document_Queries.html) and [document mutations](https://pimcore.com/docs/data-hub/current/GraphQL/Mutation/Document_Mutations.html) that support all editable types of documents.

so i'll close this one for now. input for further improvements is always welcome, please cr

[2020-10-06 10:03] #113 closed

[2020-10-06 10:05] fashxp commented on #199
we need to stabilize the documents implementation (feedback welcome) and want to integrate some parts of the ecommerce functionality. then we are ready for 1.0.0 release.

[2020-10-06 14:31] julmot commented on #199
@fashxp Have you seen my inputs [here](https://github.com/pimcore/data-hub/issues/113)? You've closed this topic about Documents within DataHub, but as far as I can see there's still no integration for the CMS area inside Pimcore. For example there's built-in integration to author and manage bricks with only a decoupled application – without any Bricks at all. As this would mean to re-think the en

[2020-10-06 18:20] fashxp commented on #199
I did see your comments indeed. I'm not sure though if I can follow you. What do you mean with CMS integration? Please continue the conversation at #113

[2020-10-06 21:11] julmot commented on #113
I'm glad you made progress in this regard and you're supporting basic queries and mutations for documents!

However, as far as I can see you're missing the built-in integration of WYSIWYG editing. Have a look at the checkboxes I've posted last year. I don't think any of those is statisfied. Currently, the entire CMS area of Pimcore depends on Twig templates. Every brick has to come with a template

[2020-10-06 21:11] julmot commented on #199
@fashxp [I did](https://github.com/pimcore/data-hub/issues/113#issuecomment-704555138).

[2020-10-07 06:12] fashxp commented on #113
Do you have already an idea how to tackle these points?
I'm not sure, how this can be solved by datahub - as you challenge a couple of basic concepts of documents.

[2020-10-07 12:55] julmot commented on #113
@fashxp Currently I see two options - I've mentioned them in my initial post here.

The second mentioned option would be a hybrid between WYSIWYG and completely form based authoring of content. Here, the decoupled application (or in other words every single project using DataHub) would only need to integrate an edit button and an overlay in the loook and feel of the application itself for each bri

[2020-10-08 14:34] nagarciah opened #272 "Support output cache in GraphQL API"
We would like to improve performance on recurring GraphQL queries by caching responses in a similar fashion to the [full page cache](https://pimcore.com/docs/pimcore/current/Development_Documentation/Development_Tools_and_Details/Cache/Full_Page_Cache.html) used by the UI (only for GET requests), following this [example](https://pimcore.com/docs/pimcore/current/Development_Documentation/Developmen

[2020-10-08 14:35] nagarciah opened #273 "Support output cache in GraphQL API"
We would like to improve performance on recurring GraphQL queries by caching responses in a similar fashion to the [full page cache](https://pimcore.com/docs/pimcore/current/Development_Documentation/Development_Tools_and_Details/Cache/Full_Page_Cache.html) used by the UI (only for GET requests), following this [example](https://pimcore.com/docs/pimcore/current/Development_Documentation/Developmen

[2020-10-08 15:50] julmot commented on #272
Duplicate of #273

[2020-10-09 12:46] nagarciah commented on #272
Duplicate of #273

[2020-10-09 12:46] #272 closed

[2020-10-15 12:23] fashxp opened #274 "[Pimcore 7 Compatibility] remove TagManagerListener"
e.g. from GraphQLExplorerController

[2020-10-15 12:24] brusch commented on #274
See 521cd940abe8206b752a47e1122d0855154cfa50

[2020-10-15 12:24] #274 closed

[2020-10-19 06:50] moritzdingerheraeus opened #276 "GraphQL translation of multiselects"
## Expected behavior

When adding a multi-select within a "Translate value" Transformator in the GraphQL schema definition each selected value should be translated individually and concatenated with a comma again.

## Actual behavior

The interface / Transformator returns the value "Array" for all selections. This term can be translated but this isn't useful.

## Test

1. Create a class with a mul

[2020-10-20 12:43] weisswurstkanone commented on #276
Note that you will still have to wrap the translate operator into a concatenator because the translate operator.

![image](https://user-images.githubusercontent.com/6142086/96587425-99f7e100-12e2-11eb-902c-b225555e6534.png)

[2020-10-20 12:43] #276 closed

[2020-10-21 06:24] moritzdingerheraeus commented on #276
Huge thanks for the quick fix @weisswurstkanone

[2020-10-22 12:17] #50 closed

[2020-11-01 03:02] hlohaus opened #280 "UUID and you may will own the world :)"
The most important practical use of UUIDs maybe will be, that the import of data do no longer depends on the results of the database.
This makes it possible to build up a complete article structure without having to wait again and again for a result.
The biggest mistake you can maybe make with UUIDs is, that you read or save them individually or at all from the database.
Because then you probably

[2020-11-05 04:00] Bongsakorn opened #283 "Datahub does not support encrypted field"
Do you have any plans to support this data object?

thank you in advanced

[2020-11-05 09:32] weisswurstkanone commented on #283
currently this is not on the top priority list

[2020-11-05 14:58] markuskaiser96 opened #284 "Better support for object bricks"
Hi there,

I am currently trying to define Schemas for a rather complex article class structure. What makes it complex is, that two fields (“articleGroup” and “dimensionGroup”) should be object bricks where “articleGroup” can be one of 4 different bricks, and “dimensionGroup” can be one of 11 different bricks. Each of those bricks has another 1 to 15 fields. Additionally, some of the fields inside

[2020-11-05 18:40] Bongsakorn commented on #283
So there is an alternative way to using it? such as [Add a Custom Query Datatype](https://github.com/pimcore/data-hub/blob/master/doc/10_GraphQL/04_Query/15_Add_Custom_Query_Datatype.md)

[2020-11-06 06:52] mugge6 opened #285 "How to disallow request on unpublished Objects"
If you're requesting objects via GraphQL from a Frontend Application via the `get<ObjectName>(id: 4)` then the Object will be returned independent from the published status of the object. With a little programmer knowledge every one is able to request unpublished object data based on the request data visible in the browser console, with guessing the the object IDs.

For example: With this approach

[2020-11-06 09:10] julmot commented on #285
One thing to note here: The `published` option that is available in listing queries is also defined client-side, which makes manipulable  to fetch data that is not intended to be public.

For the mentioned `get<ObjectName>(id: 4)` there's not even a way to specifiy a `published` filter client-side.

[2020-11-06 16:59] weisswurstkanone commented on #283
a PR would be welcome but yes, a custom query datatype is also a alternative

[2020-11-06 17:09] rajesh17692 opened #286 "Provide complete steps to configure new datatype to old version"
Hi please mention steps here so that we can use the new data type with the existing version of pimcore graphql

I tried to use the new fieldcollection datatype but facing an issue in configuring in old please provide all the steps here like

Where in our bundle we can add fieldcollection file
Where all the configuration needs to be added

My steps:-

1 added below file in my Bundle

namespace MyBu

[2020-11-07 13:51] rajesh17692 opened #287 "Pimcore breaks after update"
I run the below command in my pimcore 6.4
COMPOSER_MEMORY_LIMIT=-1 composer update pimcore/data-hub
after executing the above command I am getting below error and PIM stopped working
![image](https://user-images.githubusercontent.com/32155962/98443392-fc4d4000-2130-11eb-837d-031860496283.png)
![image](https://user-images.githubusercontent.com/32155962/98442969-54cf0e00-212e-11eb-9807-e1f17db5d50b.

[2020-11-09 08:18] brusch commented on #287
Do not use `dev-master` with Pimcore v6 as this is already for v7.

[2020-11-09 08:18] #287 closed

[2020-11-09 11:13] fashxp opened #288 "Remove 'comming soon' in configuration"
![image](https://user-images.githubusercontent.com/8792145/98534551-efd9fc00-2284-11eb-8e6f-9327393b1134.png)

[2020-11-09 13:34] rajesh17692 commented on #287
Then which version I can use

[2020-11-09 13:45] brusch commented on #287
Maybe one of the officially tagged releases?

[2020-11-09 13:53] rajesh17692 commented on #287
Will you please provide details on Issue #286 what I am missing as the complete process is not available so I tried in My way but failing to achieve cutomeType

[2020-11-09 13:58] brusch commented on #287
https://talk.pimcore.org/
https://gitter.im/pimcore/pimcore

[2020-11-09 14:21] rajesh17692 commented on #287
Answers are not available there if you can just check issue #286  and reply over there what I am missing that will be good enough

[2020-11-09 14:54] rajesh17692 commented on #287
will you provide actually it's showing 0.6.3 and 5.8 which one is correct?
![image](https://user-images.githubusercontent.com/32155962/98556953-9ea02b80-22c9-11eb-874f-ad2def79ed4f.png)

[2020-11-09 15:13] brusch commented on #287
Stable versions are not suffixed by `-dev`.

[2020-11-09 15:38] rajesh17692 commented on #286
Please help in this issue

[2020-11-09 15:40] brusch commented on #286
Please be patient, we'll care about your issue report as soon as we can.

[2020-11-10 09:08] #288 closed

[2020-11-10 13:38] weisswurstkanone commented on #286
Not sure if I can follow you. Why not just update the bundle? See #168

[2020-11-10 18:24] rajesh17692 commented on #286
Facing issue while upgrading bundle See #287

[2020-11-10 18:25] rajesh17692 commented on #286
Facing issue while upgrading bundle See #287

[2020-11-11 10:39] weisswurstkanone commented on #286
Hi @rajesh17692, minimum requirements have been changed to "pimcore/pimcore": "^6.8".
Please update your dependencies accordingly.

See https://github.com/pimcore/data-hub/blob/bb30fde641b28e0474f5e44dcf9d650a28b1a743/composer.json#L18

Thanks a lot!

[2020-11-11 10:40] #286 closed

[2020-11-11 10:42] weisswurstkanone opened #289 "Remove document editables/elements BC layer"
For example:

https://github.com/pimcore/data-hub/blob/dcc9e33abaca5e9d9e67962e889e22df516d02cf/src/GraphQL/DocumentElementInputProcessor/EditablesTrait.php#L25

Minimum requirement is now 6.8 so therefore not needed anymore

[2020-11-11 10:55] #289 closed

[2020-11-17 08:47] weisswurstkanone opened #290 "Make it Pimcore 10 ready"

[2020-11-18 15:08] weisswurstkanone commented on #285
Would https://github.com/pimcore/data-hub/issues/226 be an option? The one view on this is about manipulating data and the other thing is fetch and render stuff. We have to combine both worlds :-) And probably in real life you need both.

[2020-11-19 14:05] #248 closed

[2020-11-23 15:36] #267 closed

[2020-11-26 11:43] marcogonzalo opened #293 "Proposal: Be able to filter/search elements by key attribute"
Using key attribute as a filter could make simpler some listings like searching an specific category from its slug (the key attribute, for example) or instead of its id, because sometimes the id is not available in the workflow data. Key is an unique attribute so this could be work.

[2020-11-26 11:46] weisswurstkanone commented on #293
@marcogonzalo makes sense, do you want to volunteer and provide a PR?

[2020-11-26 14:50] AntonBauer opened #294 "Support ObjectBricks in filters"
Hello,

I have objects that consists out of ObjectBricks and I want to filter them by properties, defined in these bricks. But I get an error like "Column not found: unknown column in where clause". I double checked property names and filter clause, the same filter works fine if property is defined direct in Object.
Or maybe there is a way to do it (even dirty hacks are welcome), then I would appr

[2020-12-01 10:46] weisswurstkanone commented on #294
Hi @AntonBauer , can you provide a sample query. Steps to reproduce on the demo.pimcore.fun instance would be perfect!

[2020-12-01 14:46] AntonBauer commented on #294
Hi @weisswurstkanone, thanks for reply. In demo.pimcore.fun I added datahub config "issue_294", it is minimal infrastructure to reproduce issue. There is query to reproduce:
`{
  getCarListing(filter: "{\"numberOfDoors\": 2}") {
    totalCount,
    edges {
      node {
        id,
        name,
        numberOfDoors
      }
    }
  }
}`

Field _name_ is defined in **Car** class and field _numberOf

[2020-12-02 12:48] weisswurstkanone commented on #294
@AntonBauer could you please double check the latest change. Thanks a lot!

[2020-12-02 13:04] AntonBauer commented on #294
@weisswurstkanone Many thanks for rapid fix!
How can I check this? Should I install fresh version of DataHub in my environment or will this fix be available soon in demo.pimcore.fun?

[2020-12-02 13:04] AntonBauer commented on #294
@weisswurstkanone Many thanks for rapid fix!
How can I check this? Should I install fresh version of DataHub in my environment or will this fix be available soon in demo.pimcore.fun?

[2020-12-02 14:05] weisswurstkanone commented on #294
You can test it on demo.pimcore.fun already.

[2020-12-02 15:19] AntonBauer commented on #294
@weisswurstkanone Yep, it works as expected, thanks a lot!

[2020-12-02 15:19] #294 closed

[2020-12-09 19:18] marcogonzalo commented on #293
Sorry for the late response. Let me talk with my team. We are using Pimcore, but we are not programming on PHP.

[2020-12-10 09:13] weisswurstkanone commented on #293
@marcogonzalo Great, many thanks! Awaiting your feedback 👍

[2020-12-15 14:17] weisswurstkanone commented on #285
@mugge6 ping

[2020-12-16 10:38] weisswurstkanone opened #299 "Allow now values in query filter argument"
see https://github.com/pimcore/pimcore/discussions/772

[2020-12-16 10:39] #299 closed

[2020-12-18 11:44] Iblis opened #300 "'SELECT N+1' due to permission checks"
I fear we have introduced a performance regresison with https://github.com/pimcore/data-hub/issues/257.
The added lines like https://github.com/pimcore/data-hub/blob/master/src/GraphQL/Resolver/QueryType.php#L450 cause an SQL query for each object in a listing, which has a huge performance penalty.
I am not too familiar with the way those checks work, continuing by example of QueryType, there seem

[2020-12-27 21:39] themreza opened #301 "Unable to install Data Hub on Pimcore 6.8.6"
I created a fresh installation of Pimcore v6.8.6 build f4b761df8aa6f9a955ae02fa0f883423f5215ee9 and followed by installing Data Hub.
However, even though the installation seems to be successful, Data Hub is not installed even after clearing the cache and several attempts.

Using the `docker-compose.yml` at https://github.com/pimcore/skeleton/blob/master/docker-compose.yml, I ran the following to i

[2020-12-28 13:13] remyahalza opened #302 "Pimcore tag details For Each asset"
How To get the Pimcore tag details for each asset in Pimcore Datahub Query?

[2020-12-30 07:45] Bongsakorn commented on #301
Go to Tools -> System Into & Tools -> Database Administrator, then find table name ```pimcore_migrations ``` and search ```migration_set``` for ```PimcoreDataHubBundle```.

You will found a record that version equal "00000001", change it to 0. Try install again, it may be work.

[2021-01-05 02:20] themreza commented on #301
It is odd, but even though the steps I mentioned consistently produced the issue, the problem mysteriously got resolved on its own when I tried the same steps again today. Thank you.

[2021-01-05 02:20] #301 closed

[2021-01-07 14:04] Dinesh2703 opened #304 "PIMCore v6.8.6 GraphQl query not accepting variables"
I passed culture = "hi" variable in graphql query in PIMCore v6.7.1 and I got the data in "hi" culture. as shown in image below.

![pimv6 7 1](https://user-images.githubusercontent.com/41935464/103901141-c4597d80-511e-11eb-9037-acccb7b45b77.png)

In PIMCore v6.8.6 I did the same but did not get data in "hi" culture as shown in image below.
![pimv6 8 6](https://user-images.githubusercontent.com/419

[2021-01-07 16:51] marcogonzalo commented on #293
Hello, @weisswurstkanone. My partner @PanchoMrlda is going to try to do this. Do you have some orientations about it?

[2021-01-11 13:28] do-web opened #305 "Link data type advanced attributes support for DataObjects"
I cannot access advanced attributes in graphql for data objects.

[2021-01-13 13:25] do-web opened #307 "Blocks in Blocks not working in GraphQL"
Subitems not returned in the graphql result:

![Bildschirmfoto 2021-01-13 um 14 23 12](https://user-images.githubusercontent.com/862783/104458041-1b41d580-55ab-11eb-84cd-fc4fd70a7c12.jpg)
![Bildschirmfoto 2021-01-13 um 14 22 18](https://user-images.githubusercontent.com/862783/104458044-1d0b9900-55ab-11eb-9598-cdde9e1a454f.jpg)

[2021-01-14 09:41] weisswurstkanone commented on #307
This is currently not supported in general. See https://github.com/pimcore/pimcore/issues/6319#issuecomment-621645271 for more infos. Because of that I will close this thread for now. Please continue the discussion at https://github.com/pimcore/pimcore/issues/6319

[2021-01-14 09:41] #307 closed

[2021-01-14 11:04] weisswurstkanone commented on #293
I would start here (extending the schema)
https://github.com/pimcore/data-hub/blob/18f0a8618be0a7659f86c81a3ca542280130300a/src/GraphQL/Query/QueryType.php#L277

and here (doing the filtering)

https://github.com/pimcore/data-hub/blob/58414f5c996087bdad7189d0a7c9a10503a3337b/src/GraphQL/Resolver/QueryType.php#L336

[2021-01-14 11:32] weisswurstkanone commented on #305
can you give a detailed example?

[2021-01-14 11:36] do-web commented on #305
Its the same as #275 but for DataObjects

[2021-01-14 11:41] weisswurstkanone commented on #305
I see, could you provide a PR please? Starting point would be https://github.com/pimcore/data-hub/blob/c41a1f0e294d1ae972a335c2fba00d51945fc266/src/GraphQL/DataObjectType/LinkType.php#L28

[2021-01-15 17:52] weisswurstkanone commented on #304
This is a regression of https://github.com/pimcore/data-hub/pull/297. Partly reverted it.
@juckerf could you please double-check your change. $variableValues seems to be null after the event but was correctly set before.

[2021-01-21 11:51] weisswurstkanone commented on #304
@juckerf 🏓

[2021-01-21 12:48] juckerf commented on #304
sounds strange, i'll have a look at it

[2021-01-21 17:06] juckerf commented on #304
unfortunately I'm not able to reproduce the issue (pimcore: 6.8.6, symfony: v4.4.16)

[2021-01-22 08:16] SamuelHafner opened #310 "Access denied when Open Iframe of Datahub"
I get an Access denied when I want to access to Iframe in Datahub für GraphQL

[2021-01-25 10:42] rubanooo opened #311 "Links in WYSIWYG fields are fetched incorrectly"
When fetching objects with WYSIWYG fields that have links to documents inside of them. The documents don't consider the current site that they are in.

I have traced the issue to `pimcore/models/Document.php:879` where it skips generating the proper link because a site can not be found.

I can submit a PR if you can guide me in the right direction where I should set the site for the current reques

[2021-01-25 11:56] #304 closed

[2021-01-25 14:27] dvesh3 commented on #311
seems related https://github.com/pimcore/pimcore/pull/7139

[2021-01-26 10:12] fashxp opened #313 "[Configuration] Dirty close doesn't close configuration"

[2021-01-29 12:49] #250 closed

[2021-01-29 12:49] #313 closed

[2021-02-01 08:28] HageMaster3108 opened #316 "Localized Blocks not returned correctly"
I have a Class with BLOCKs inside localizedFields, for translation of the blocks (the number of entries within the block my differ between languages, hence the block inside the localizedFIelds container, not the other way around).

Now I have setup a datahub graphQL endpoint and added that field to the schema. However I always get "null" back for all of the fields within the value, regardless of w

[2021-02-01 08:31] HageMaster3108 commented on #316
My class definition attached
[class_LocalizedBlockIssueDemo_export.json.zip](https://github.com/pimcore/data-hub/files/5902707/class_LocalizedBlockIssueDemo_export.json.zip)

[2021-02-01 08:36] HageMaster3108 commented on #316
Using 0.6.3 by the way

[2021-02-01 19:37] HageMaster3108 commented on #316
Think I found the root cause, see PR.

[2021-02-02 07:20] #316 closed

[2021-02-03 11:21] weisswurstkanone commented on #305
@do-web 🏓 a PR would we very nice

[2021-02-03 15:27] weisswurstkanone opened #318 "[Documents] Support 'Embed' editable query type"

[2021-02-03 15:30] #318 closed

[2021-02-03 15:54] weisswurstkanone opened #319 "[Document] Support 'embed' element mutation type"

[2021-02-03 16:06] weisswurstkanone commented on #319
fixed via https://github.com/pimcore/data-hub/commit/ed8f316de6a53250328e4569631edb8c5b3254bb

[2021-02-03 16:06] #319 closed

[2021-02-03 16:26] weisswurstkanone commented on #310
Sorry, unable to reproduce on our official demo. Mut be specific to your instance.

![image](https://user-images.githubusercontent.com/6142086/106777079-f3431080-6644-11eb-8d82-553c161643ae.png)

[2021-02-03 16:26] #310 closed

[2021-02-03 16:27] weisswurstkanone commented on #310
Please consult the forum instead
https://gitter.im/pimcore/pimcore

[2021-02-08 22:00] RandomIAm opened #320 "[DataObject] WYSIWYG links only showing via GraphQL when data component is wrapped inside block"
While accessing different DataObjects containing a WYSIWYG data component we ran into the issue of links being dropped during GraphQL requests when those WYSIWYG components themselves where not wrapped inside a Repeater/Block element.

Example: I have a `TextColums` DataObject where my WYSIWYG data component `text` lies within the block `contentlist`. Within my texts I want to drag&drop one or mor

[2021-02-12 16:55] do-web opened #321 "Crop Image"
If i crop an image then the image in graphql output is not cropped. I receive only the crop data.

![Bildschirmfoto 2021-02-12 um 17 53 04](https://user-images.githubusercontent.com/862783/107797360-29764380-6d5b-11eb-8bd5-62731ab841fa.jpg)

[2021-02-15 09:31] weisswurstkanone commented on #321
Hi @do-web , could you paste a request sample which I could use directly on the demo instance for investigations?

[2021-02-15 09:45] do-web commented on #321
Image fullpath and/or resolutions do not cointain the cropped image.

`
{
  getImageElement(id: 123) {
    image {
      crop {
        cropTop
        cropLeft
        cropHeight
        cropWidth
      }

      image {
        fullpath
        filename

        resolutions(thumbnail: "ImageTeaser", types: [1, 2]) {
          url
          resolution
        }
      }
    }
  }
}

`

[2021-02-15 14:28] weisswurstkanone commented on #321
crop {
        cropTop
        cropLeft
        cropHeight
        cropWidth
      }

[2021-02-15 14:45] do-web commented on #321
That the images are already output cropped.

[2021-02-15 15:08] weisswurstkanone commented on #321
Hello @julmot , seems that this got broken, at least with error reporting set to E_ALL.
Could you please have a look if you find some thing.
See https://github.com/pimcore/data-hub/pull/221

[2021-02-16 09:49] julmot commented on #321
Sorry, we don't have time to look into this at the moment.

[2021-02-16 11:22] dvesh3 opened #322 "Refactor ReverseManyToManyObjects Query Helper"
Related to pimcore/pimcore#8037

[2021-03-02 14:06] weisswurstkanone opened #326 "Increase minimum requirement to 6.9"
as soon as 6.9 get's released

https://github.com/pimcore/data-hub/blob/0b310b45834d74ff53287a5eb6068c5158e415d9/composer.json#L18

In addition, change all occurences of Geopoint to GeoCoordinates

[2021-03-05 13:05] fashxp commented on #326
also add requirement to symfony 4

[2021-03-09 08:42] Macaruja opened #327 "Can´t access assetData in createAsset mutation"
Hello, I have the following problem on pimcore demo and self hosted.
I cannot access AssetData in the createAsset mutation. AssetData in Reponse is null.

**Request**
[code]

**Response**
[code]

Asset and Asset Folder are in the configuration with Create Read Update and Delete.
![image](https://user-images.githubusercontent.com/40568748/110441781-6ca5a700-80ba-11eb-984f-403ace0b1f59.png)

The ass

[2021-03-09 10:21] weisswurstkanone commented on #327
Unable to reproduce on demo.pimcore.fun

My query: had to change the parent to 1 since 410 does not exist on demo.

![image](https://user-images.githubusercontent.com/6142086/110456075-71be2280-80c9-11eb-95ab-e08f731c81e3.png)

[2021-03-09 12:23] Macaruja commented on #327
I have reproduced the error on demo.pimcore.com

On demo.pimcore.fun I do not have permission to allow create asset, in the assets configuration.
![image](https://user-images.githubusercontent.com/40568748/110469722-47289580-80da-11eb-84b4-a6875ea1f9a6.png)

[2021-03-11 14:13] Dirndorfer opened #328 "Field Collections not working with Locale Switcher"
I was eager to use Field Collection in mutations. It works fine so far despite the ability to do it with Locale Switcher
I have Something like this:
![image](https://user-images.githubusercontent.com/62649640/110799514-86dab300-827b-11eb-8d94-b9cf67247873.png)

I get a 500 Internal Server Error:
Schema must contain unique named types but contains multiple types named "fieldcollections_Fieldcollect

[2021-03-11 14:48] Dirndorfer commented on #327
Did you click the Save button, or do you have the asterisk next to configuration name?
You have the small red corner for create Asset in your screenshot, which indicates it has just changed, I think.

[2021-03-12 07:40] Macaruja commented on #327
@Dirndorfer
Yes I have saved the configuration.
Creating the asset worked, it took the changes in the configuration.
However, assetData remains null.

[2021-03-16 11:36] CallLenka opened #329 "Re: Support ObjectBricks in filters"
Hello,

Some time ago you've fixed the issue - #294
But seems like it's back again, we're not able to filter Data Objects by fields from ObjectBricks.
Could you please take a look at this one more time?

In order to reproduce the issue please use demo site and "products" Datahub Config with 2 following queries:
1. Working query with filter by simple Data Object field (not from ObjectBricks)
[code]

[2021-03-16 11:48] weisswurstkanone commented on #329
works perfectly fine

![image](https://user-images.githubusercontent.com/6142086/111304366-eeb34400-8655-11eb-9ea5-5029e97ecff5.png)

[2021-03-16 12:02] CallLenka commented on #329
Ah, my bad, now i noticed that we're checking different demo sites. The issue I've described is from demo.pimcore.com.

Sorry for this, I'm closing the issue

[2021-03-16 12:02] #329 closed

[2021-03-16 12:52] CallLenka opened #330 "Fields from ObjectBricks in Reverse Many-To-Many Object relation"
Hello,

It seems like we're not able to use fields from ObjectBrick as owner field for Reverse Many-To-Many Object relation.

In order to reproduce the issue please follow the next steps:
1. There is new ObjectBrick created called "TestRelation" which has only one field "categories" (Many-To-Many Object Relation to Category class)
2. There is new Object Class called "TestCarRelation" with 2 fields

[2021-03-16 14:34] Macaruja commented on #327
Tried it again with a pimcore/skeleton + datahub and it worked.
But I can not explain why the error occurred with the pimcore/demo.
![image](https://user-images.githubusercontent.com/40568748/111326634-ff22e900-866c-11eb-9383-b0b0a73707dc.png)

[2021-03-16 14:34] #327 closed

[2021-03-25 12:05] weisswurstkanone commented on #305
@do-web ping 🏓

[2021-03-30 11:20] Johnystardust opened #331 "Class 'Pimcore\Bundle\DataHubBundle\GraphQL\Resolver\Service' not found"
There is a class not found at /var/www/pimcore/vendor/pimcore/data-hub/src/GraphQL/Resolver/QueryType.php:250
This class is missing in the use statements.

`[2021-03-30 13:16:45] php.CRITICAL: Class 'Pimcore\Bundle\DataHubBundle\GraphQL\Resolver\Service' not found {"exception":"[object] (Symfony\\Component\\Debug\\Exception\\FatalThrowableError(code: 0): Class 'Pimcore\\Bundle\\DataHubBundle\\Grap

[2021-03-30 12:06] weisswurstkanone commented on #331
fixed via https://github.com/pimcore/data-hub/commit/307f5dedb7b7d6696174c9e78c33ae650e254fe9

[2021-03-30 12:06] #331 closed

[2021-04-01 14:46] fashxp opened #333 "[PimcoreX] Fix Symfony\Component\EventDispatcher\Event deprecations"
use Symfony\Contracts\EventDispatcher\Event instead

[2021-04-01 14:46] fashxp opened #334 "[PimcoreX] Fix getFileSystemPath deprecations"

[2021-04-01 14:47] fashxp opened #335 "[PimcoreX] Fix \Pimcore\Model\DataObject\Data\Geopoint deprecations"

[2021-04-01 14:48] fashxp opened #336 "[PimcoreX] Fix \Pimcore::getDebugMode() deprecation"
also Constant `PIMCORE_DEBUG` is deprecated.

use \Pimcore::inDebugMode() instead

[2021-04-02 08:45] #326 closed

[2021-04-06 12:39] #333 closed

[2021-04-06 12:40] #334 closed

[2021-04-06 12:41] #335 closed

[2021-04-07 10:16] rubanooo opened #340 "RFC: Implement relay server specification"
At the moment the relay server specification is only partly implemented. The full specification would be very useful when building apps with pagination and caching.

The webonyx documentation mentions this module: https://github.com/ivome/graphql-relay-php to fairly easily implement this feature.

[2021-04-12 07:04] MadeP opened #342 "Grayed out classification store fields/keys not included in GET query"
Hello,

grayed out classification store fields/keys (e.g. for variants) are not included in a datahub GET query?
Normal fields are exported even if they are grayed out and inherited from the main article. It would be good if this is the case for classification stores as well

Thanks in advance

[2021-04-19 13:01] brainsbucket opened #343 "Implementation of advancedManyToManyObjectRelation mutation"
Hi,

My customer need the advancedManyToManyObjectRelation mutation.

Please, can you tell me when this feature will be implemented ?

Thanks

[2021-04-19 13:06] weisswurstkanone commented on #343
why do you think it is not supported ?

[2021-04-20 08:39] moritzdingerheraeus opened #344 "Fix number of decimal places"
We require an addition that allows use to specify the number of decimal places for numeric fields via the API.
Eg. we would like to output 1 as 1.0, or 2 as 2.0.

[2021-04-20 09:38] weisswurstkanone commented on #328
@Dirndorfer can you please provide a samle request ?

[2021-04-20 09:39] weisswurstkanone commented on #340
@rubanooo a PR would be warmly appreciated

[2021-04-20 09:41] #336 closed

[2021-04-20 09:43] weisswurstkanone commented on #285
closed due to inactivity

[2021-04-20 09:43] #285 closed

[2021-04-20 09:45] weisswurstkanone commented on #94
Use data-hub-file-extension as an addition instead. See https://pimcore.com/docs/data-hub-file-export/current/

[2021-04-20 09:45] #94 closed

[2021-04-20 09:45] weisswurstkanone commented on #93
Use data-hub-file-extension as an addition instead. See https://pimcore.com/docs/data-hub-file-export/current/

[2021-04-20 09:45] #93 closed

[2021-04-26 10:12] weisswurstkanone commented on #343
@brainsbucket 🏓

[2021-04-26 11:21] weisswurstkanone commented on #344
Why not implement this on the client side, feels like a pure output issue.

[2021-04-28 06:20] Dirndorfer commented on #328
@weisswurstkanone, Sure:
My Fieldcollection looks like this:
![image](https://user-images.githubusercontent.com/62649640/116354684-0eaf5900-a7f9-11eb-93af-b298803fd7cc.png)

It is working when I use it only once with one Language in my mutation schema:
![image](https://user-images.githubusercontent.com/62649640/116354828-428a7e80-a7f9-11eb-86e2-a3961da6af3d.png)
with this request:
`
mutation  {

[2021-04-28 10:16] weisswurstkanone commented on #328
![image](https://user-images.githubusercontent.com/6142086/116387906-93ab6a00-a81b-11eb-8f35-68bc4337d890.png)

[2021-04-28 10:17] weisswurstkanone commented on #328
fixed via https://github.com/pimcore/data-hub/commit/2d11e2c9ac212bff9e745d5d3b28bacaa9149228

@Dirndorfer could you please confirm? Thx

[2021-04-28 11:09] #290 closed

[2021-04-29 08:53] #226 closed

[2021-05-03 07:20] moritzdingerheraeus commented on #344
This could be done on client side but I rather see that as logic that the API should handle and client would only display.
Handling in the client is especially cumbersome if different rules for different attributes should apply.

[2021-05-03 07:53] weisswurstkanone commented on #344
can you provide a PR then please?

[2021-05-03 07:54] weisswurstkanone commented on #328
@Dirndorfer 🏓

[2021-05-03 14:00] fhulleman commented on #284
Hi @markuskaiser96,
I'm having the exact same challenges, and I also solved it with aliases. But I'm also hoping for a better solution. Did you already have a better solution running? Or did you get response on this question?
Thanks. Cheers, Frederik

[2021-05-04 08:32] ab-kily opened #345 "implement asset tags"
It would be great to have asset tags to be visible in response of GraphQL query. For example, in response to this query:

[code]

to have something similar to this:
[code]

[2021-05-04 12:19] MarcoGuiducci opened #348 "Unable to query on ReverseObjectRelation fields"
After having updated my Pimcore project to the 6.9 version, I'm not able to query on ReverseObjectRelation fields anymore.

### Expected behavior

Expected to query a ReverseObjectRelation field like in the previous versions of Pimcore.

### Actual behavior

When I try to add a ReverseObjectRelation field in the schema definition, I've got the following error
![DataHub ReverseObjectRelation](https

[2021-05-04 12:30] weisswurstkanone commented on #348
due to https://github.com/pimcore/pimcore/pull/8037
Since we have to support both 6.9 and 10 a PR will follow

[2021-05-04 12:36] weisswurstkanone commented on #348
@MarcoGuiducci could you please confirm that https://github.com/pimcore/data-hub/pull/349 works for you? Thx!

[2021-05-04 12:53] MarcoGuiducci commented on #348
@weisswurstkanone it seems to work as expected!

[2021-05-04 12:54] weisswurstkanone commented on #348
Thanks for testing!

[2021-05-04 12:54] #348 closed

[2021-05-07 09:13] #345 closed

[2021-05-07 16:40] dvesh3 opened #352 "Geopoint field returning null"
![image](https://user-images.githubusercontent.com/5137917/117481487-5b1a3780-af63-11eb-9de5-ca0b7d0fe853.png)

![image](https://user-images.githubusercontent.com/5137917/117481586-79803300-af63-11eb-8eea-5834e85773b8.png)

[2021-05-10 09:58] #352 closed

[2021-05-10 12:10] #199 closed

[2021-05-11 14:34] dominikager opened #354 "Image.php denormalize"
Hi,

the denormalize function in the Image.php Class gets as value "null".

This only happens when i upload a new Image or clear the pimcore cache

![image](https://user-images.githubusercontent.com/23102887/117832979-3fba6f80-b276-11eb-9313-5ea24c64f77a.png)

[2021-05-12 09:46] weisswurstkanone commented on #354
@dominikager may I ask you for a sample for the request (the left side), not the response. thx a lot!

[2021-05-13 06:01] dominikager commented on #354
@weisswurstkanone this comes directly when you open GraphiQL from the Datahub
There is no GraphiQL request with some query.

[2021-05-14 07:43] weisswurstkanone commented on #354
sorry, not able to reproduce on demo.pimcore.fun

[2021-05-17 09:54] AlekMosingiewicz opened #355 "DataHub ignores translation parameter when querying for classification store"
When querying for classification store data, our endpoint completely ignored the "language" parameter. Is it a bug in the module itself or was something wrong with the configuration?

[2021-05-17 09:59] weisswurstkanone commented on #355
Sounds like a bug. Can investigate this further please.

[2021-05-17 14:06] fashxp opened #356 "[Configuration] Add folders to better organize configurations"

[2021-05-17 14:13] fashxp opened #357 "[Configuration] Add more fine-gained permissions to configurations"
- CRUD permissions for configurations
  - two levels for RUD permissions
     1. RUD own configurations
     2. RUD all configurations
- protect specific configurations - no modifying, deleting allowed except for owner/admins

maybe even based on folders of configurations (see also #356 )?

[2021-05-17 15:20] fashxp commented on #357
maybe also define two storage locations for configurations?
1. in configuration file that can be deployed
2. one local storage (e.g. in db settings store) where user-created instance specific configurations are stored (should not be overwritten when new deployment takes place).

[2021-05-18 16:49] cmuench opened #358 "Image HTML rendering broken"
I updated to pimcore 10 and latest data-hub and got errors in GraphQL calls if there is a thumbnail html transformer is used.The result of a query is:

[code]

Debugged that and found the issue in `\Pimcore\Bundle\DataHubBundle\GraphQL\FieldHelper\AbstractFieldHelper::extractData` method.
In this case the `$selectionSet` variable is `null`.

If I check if $selectionSet is null then GraphQL call re

[2021-05-19 08:53] weisswurstkanone commented on #358
@cmuench could you provide a PR please ?

[2021-05-19 13:28] weisswurstkanone commented on #355
Unable to reproduce.

Query looks like

[code]

Result is:
[code]

Data looks like:

![image](https://user-images.githubusercontent.com/6142086/118820711-cf839d80-b8b6-11eb-934b-075ed70c8887.png)

[2021-05-19 14:59] cmuench commented on #358
@weisswurstkanone yes, but @dvesh3 was faster. :-)

[2021-05-20 11:48] fhulleman opened #360 "Proposal: support retrieving an older version of an object"
Hi guys,

A customer of mine has an interesting use case: another external application knows which previous versions exist for a certain product (Pimcore object class), and when a customer order is placed, there is a relation between that order and a specific version of the product. The reason why, is because when a customer has a question about this order, they can look up the product content whe

[2021-05-21 14:18] #354 closed

[2021-05-24 09:54] ab-kily opened #361 "implement GraphQL tags mutation"
While there is an implementation to query tags for all objects types, it would be great to also have mutation implemented. Current schema doesn't support tags mutation:

![image](https://user-images.githubusercontent.com/9202344/119330439-dfbcc380-bc8e-11eb-9513-073ea74d27da.png)

I'm going to try to implement this for `createAsset` and `updateAsset` methods by providing a pull request.

[2021-05-25 09:58] weisswurstkanone commented on #361
great, many thanks!

[2021-05-25 12:17] weisswurstkanone commented on #360
Sounds like a nice addition. Could you provide a PR (for all element types, not just objects)

[2021-05-27 08:43] weisswurstkanone commented on #361
@ab-kily I believe we should offer this for douments and objects as well. wdyt

[2021-05-27 13:19] Blackbam opened #363 "Check if the current request is a request via DataHub GraphQL API"
For me it is not trivial to find a way if the current request is

a) a request via Pimcore DataHub API
b) if the request passed the configuration check and permissions check

What I want to do is to create a Service function as simple as:

[code]

What is the correct way to achieve this?

[2021-05-27 13:32] weisswurstkanone commented on #355
@AlekMosingiewicz 🏓

[2021-05-27 13:36] weisswurstkanone commented on #302
implemented via https://github.com/pimcore/data-hub/pull/350

[2021-05-27 13:36] #302 closed

[2021-05-27 13:37] weisswurstkanone commented on #273
resolved via https://github.com/pimcore/data-hub/pull/278

[2021-05-27 13:37] #273 closed

[2021-05-27 13:38] weisswurstkanone commented on #283
@Bongsakorn what is your conclusion? thx.

[2021-05-27 13:40] weisswurstkanone commented on #342
@MadeP you are talking about inherited fields ? Can this be reproduced on demo.pimcore.fun? Please provide a request sample.

[2021-05-27 16:00] ab-kily commented on #361
@weisswurstkanone sorry, I've missed your comment. No problem!

[2021-05-28 08:32] weisswurstkanone commented on #361
Brilliant!

[2021-05-29 07:39] archana-multi-concept opened #364 "document_editableBlock :- getting _editableType and _editableName value null"
Hello Team,

When I run getDocument query, it return all value of all editable except **document_editableBlock** _editableType and _editableName.

**Input Query**
...on document_editableBlock{
          _editableName
          _editableType
          indices
        }

**Output**
{
"__typename": "document_editableBlock",
  "_editableName": null,
  "_editableType": null,
  "indices": [
    1
  ]
},

[2021-05-29 13:20] archana-multi-concept commented on #364
issue found in file /var/www/html/lealta/vendor/pimcore/data-hub/src/GraphQL/DocumentElementType/BlockType.php
When I remove condition of **instanceof Checkbox**. bold in code ,from the code, it return value in iframe.

    public static function getInstance()
    {
        if (!self::$instance) {
            $config =
                [
                    'name' => 'document_editableBlock',

[2021-05-29 14:12] ab-kily commented on #361
@weisswurstkanone I've updated PR #362 with implementation tags mutation for document and object in addition to assets.

Some examples:

### Creation

<details>
<summary>createAsset</summary>
GraphQL query:

[code]

Variables (data is black 10x10 base64 encoded jpeg):
[code]

Result:
[code]
</details>

<details>
<summary>create&lt;Object&gt;</summary>
GraphQL query:

[code]

Example variables:

[c

[2021-05-31 10:15] #361 closed

[2021-06-01 11:01] MadeP commented on #342
Yes, exactly. Unfortunately I don't know the access data for demo.pimcore.fun.However, I tried to reproduce it on https://demo.pimcore.com. strangely, the fields are not grayed out here, but still taken from the parent article. So they are also shown in the datahub get query. Was there a setting changed for this? Was this changed with an update?

Pimcore Demo:
![pimcore-demo-inherited-classificati

[2021-06-01 11:16] weisswurstkanone commented on #342
admin / demo
which is on 10.0 right now. could you give it a try and provide feedback?

[2021-06-01 11:25] MadeP commented on #342
I have tested it. Same result as described above. Btw the many-to-one relations are also not grayed out but are inherited from the parent article.

[2021-06-01 11:30] weisswurstkanone commented on #342
Can you quickly provide a sample query which I can reproduce on demo.pimcore.fun? (30 mins left until it gets reset the next time)

[2021-06-01 11:35] MadeP commented on #342
As already mentioned it works in the demo, because here the fields are not grayed out.

Using datahub "products" configuration:
[code]

Is this possibly due to the parent php class? I don't use one in my pimcore environment

[2021-06-01 11:48] weisswurstkanone commented on #342
No. And works as expected on demo.pimcore.fun for object 73. There is a value in the response because there is a value in the object. If you remove it then you will get null in the result because the parent is a folder so there cannot even be inheritance.
As already said we need a case on the demo which can be reproduced on our side.

[2021-06-02 08:21] weisswurstkanone commented on #364
resolved via https://github.com/pimcore/data-hub/pull/366

[2021-06-02 08:21] #364 closed, assigned to weisswurstkanone

[2021-06-02 08:44] MadeP commented on #342
Can be closed. Problem apparently occurred only in Pimcore 6.8.x. After update, the classification stores for variants are handled differently and thus also interpreted correctly by datahub. Thanks for your efforts.

[2021-06-02 08:53] weisswurstkanone commented on #342
Thank you!

[2021-06-07 06:37] jigjangmeil opened #367 "Need support for objectbricks data fetching for all brick fields"
Hi guys,

I need support for object bricks data fetching.  I was tried in different ways. but, finally am getting the only one brick data. In my project  we have a object brick fields like brick1, brick2. In each brick having the fields -  type(select) and target(select).
If we sending query like
    type {
           get{class name}(id: 123)  {
                            type,

[2021-06-07 07:36] ismetsener opened #368 "Pimcore Data Hub <-> external data"
hello,
I am experimenting Pimcore DataHub:
Create Objects, Update Objects, Delete Objects etc etc, It works FINE inside Pimcore

But I like to insert data from EXTERNAL DATA providers in to Pimcore.

for example  I will create a OBJECT "COMPANY" and all the company details I like import from for example Chamber of Commerce, or DUN & BRADSTREET, or a DATA ENRICHMENT COMPANY

so I have a login and p

[2021-06-07 18:40] jensschaerer opened #369 "Query assets by language not working"
I'm refering to https://github.com/pimcore/data-hub/issues/187 as an issue that seems to occur on our systems while using GraphQL to query localized assets.

following query results in same asset returned for each language, but each localized image contains a different image. It is always the image for the default language returned:

[code]
result:
[code]

The behaviour occurs with a fresh install

[2021-06-08 09:56] weisswurstkanone commented on #369
Sorry, cannot reproduce this on **demo.pimcore.fun.**

What I did:

- Opened the Car class definition
- Added testimage many-to-one-relation to localized fields
- Opened object 9 and filled it with data
- Added testimage to the graphql schema

Request:
[code]

And the response:

[code]

[2021-06-08 10:37] jensschaerer commented on #369
With many-to-one relation it works quite well, sure. But I use type "image" which isn't working (also not working on the demo system)

[2021-06-08 13:24] weisswurstkanone commented on #360
@fhulleman 🏓

[2021-06-08 13:36] weisswurstkanone commented on #369
fixed via #370

[2021-06-08 13:36] #369 closed, assigned to weisswurstkanone

[2021-06-09 17:04] ismetsener opened #371 ""message": "Warning: Undefined array key \"type\"""
Hi,

I am experimenting pimcore data hub, it works fine  but when I use the next command:

__________________________________________________________________________________________________________________________________
mutation  {createCompany (
key: "Company_003"
parentId: 32
published: true
input: {active: true, search_key: "NL100000212",name: "Company_003" } )
{
success
message
output
{
sear

[2021-06-10 05:05] weisswurstkanone commented on #371
Hello @ismetsener , can you provide a sample which I can try on demo.pimcore.fun? Or provide the line number which triggers the warning. Thx!

[2021-06-10 07:27] ismetsener commented on #371
very strange, I just made 2 cars on the demo.pimcore.fun:
CAR_007    (without type:"text")
CAR_008    (with type:"text")
both with out problems

[code]

what is the function of  'type"  ?

if I look at the documentation:
[code]

[2021-06-10 08:14] ismetsener commented on #371
what do you mean by this?

[2021-06-10 10:10] weisswurstkanone commented on #355
closed due to inactivity

[2021-06-10 10:10] #355 closed

[2021-06-10 10:44] weisswurstkanone commented on #371
Probably the error reporting level is a bit more restrictive on your instance.

My gut feeling is that we are talking about this line.
https://github.com/pimcore/data-hub/blob/ec5e1bd1ee89e8461a223dc69c05596fca28164b/src/GraphQL/Mutation/MutationType.php#L581

It is used to distinguish between object and variant type.

Could you please double check?

I would say that the parenthesis are wrong.

So

[2021-06-10 10:46] weisswurstkanone commented on #230
@SimonBader 🏓

[2021-06-10 11:29] ismetsener commented on #371
Dear Sir,

Many thanks, problem solved :)

with kind regards,
Ismet

[2021-06-10 11:41] weisswurstkanone commented on #371
👍  fixed via https://github.com/pimcore/data-hub/commit/b2017e264abe4331eca6263da08c991b2ff878de

[2021-06-10 11:41] #371 closed, assigned to weisswurstkanone

[2021-06-10 13:33] AlekMosingiewicz commented on #355
Seems the problem is somewhere with the configuration of our environment, I think we can close it for now.

[2021-06-10 20:36] SimonBader commented on #230
Sorry @weisswurstkanone to not have answered before. I am no longer in the Pimcore business and therefore I am probably not the right person to implement that issue.

[2021-06-11 07:06] weisswurstkanone commented on #230
@SimonBader Thanks a lot for your valuable discussion & input! I will close this for now but please reopen it at any time 👍

[2021-06-11 07:06] #230 closed

[2021-06-13 16:31] ismetsener opened #373 "Pimcore Data Hub <-> external data"
hello,
I am experimenting Pimcore DataHub:
Create Objects, Update Objects, Delete Objects etc etc, It works FINE inside Pimcore

But I like to insert data from EXTERNAL DATA providers in to Pimcore.

for example I will create a OBJECT "COMPANY" and all the company details I like import from for example Chamber of Commerce, or DUN & BRADSTREET, or a DATA ENRICHMENT COMPANY

so I have a login and pa

[2021-06-16 06:52] Laggertron opened #375 "DataObject resolveIndex always results in NULL"
Hi
currently it is impossible to get the `o_index` field of any object.
This is because of the `resolveIndex` method in `src/GraphQL/Resolver/DataObject.php` line 72. The issue is that the Class `DataObject` extend the abstract class `AbstractObject` and all Pimcore classes in the namespace `Pimcore\Model\DataObject` extend from this abstract class as well and are simply never an instance of `\Pim

[2021-06-16 07:08] weisswurstkanone commented on #375
Hi @Laggertron , can you provide a sample query which can be reproduced on demo.pimcore.fun. Thx!

[2021-06-16 09:39] weisswurstkanone commented on #375
should be resolved via https://github.com/pimcore/data-hub/pull/376

[2021-06-16 09:39] #375 closed, assigned to weisswurstkanone

[2021-06-23 10:34] weisswurstkanone commented on #360
@fhulleman 🏓 excited about your feedback. thx!

[2021-06-24 10:28] slri opened #381 "Update outdated link to Pimcore filtering docs"
Affected page: https://pimcore.com/docs/data-hub/current/GraphQL/Query/Filtering.html
Incorrect URL: https://pimcore.com/docs/6.x/Development_Documentation/Web_Services/Query_Filters.html (yields 404)

Correct URL: https://pimcore.com/docs/pimcore/6.9/Development_Documentation/Web_Services/Query_Filters.html

This is definitely primarily a fault of the official Pimcore docs for redirecting `6.x` t

[2021-06-25 16:39] vinitchopra12 opened #383 "[ERROR] Bundle PimcoreDataHubBundle can not be installed"
I am getting this error while install the DataHubBundle.

![image](https://user-images.githubusercontent.com/14720025/123457928-11b0a500-d602-11eb-866c-d5ccba98fa28.png)

Below are the configuration I have:
Pimcore v10.0.6
PHP 8.0.6

paragonie/constant_time_encoding (v2.4.0)
 phpseclib/phpseclib (2.0.32)

[2021-06-29 07:36] fashxp commented on #357
usecase for RUD permissions:
- admin user creates api definitions for erp-system integration (should be adaptable by admin in UI, but must not be changed by any editor)
- editors should be able to modify productsup integrations (but not the erp-system integration)

[2021-07-01 15:07] solverat opened #384 "Subscriptions"
Are there any plans to integrate subscriptions in data-hub?

Maybe the Lighthouse Implementation could be a good reference for this: https://lighthouse-php.com/5/subscriptions/getting-started.html

[2021-07-05 07:54] philippjost opened #385 "Using Advanced Many-To-Many Relation in Field-Collections leads to 500 error in DataHub"
### How to reproduce:
Configure a object in Datahub Query Schema with a Field-Collection. This Field-Collection needs to have at least one field of type _Advanced Many-To-Many Relation_. After saving the datahub configuration the error will be thrown after reloading DataHub-Explorer

### Actual Behavior:
DataHub / DataHub-Explorer returns a 500:
`Call to undefined method getName in class Pimcore\M

[2021-07-05 08:27] #385 closed, assigned to weisswurstkanone

[2021-07-05 12:40] weisswurstkanone commented on #305
@do-web closed due to inactivity for now

[2021-07-05 12:40] #305 closed

[2021-07-05 13:41] janschikorr-nx opened #386 "Call to undefined method getParent in class Pimcore\Model\DataObject\Fieldcollection\Data\..."
This Bug occured after fixing this preceding Bug: https://github.com/pimcore/data-hub/issues/385

### How to reproduce:
Create a Class with a Fieldcollection defined. The Fieldcollection has at least a `Many-To-Many Object Relation`. Add the Fieldcollection to the Object Query Schema. Then query the Object with the Fieldcollection.

### Result of the Query:
`{
  "errors": [
    {
      "message":

[2021-07-05 14:54] weisswurstkanone commented on #386
can you provide a sample request please ?
BTW, I would be nice if you could provide the full stack trace if possible for future issues.

[2021-07-06 05:21] weisswurstkanone commented on #386
Tried something like that where manytomany is many-to-many-object relation and everything went fine. So please provide exact steps on how to reproduce on demo.pimcore.fun

![image](https://user-images.githubusercontent.com/6142086/124546361-d0529d80-de2a-11eb-913b-c917bee42ca1.png)

[2021-07-06 09:42] weisswurstkanone commented on #360
Closed due to inactivity.

[2021-07-06 09:42] #360 closed

[2021-07-07 11:23] weisswurstkanone commented on #283
@Bongsakorn 🏓

[2021-07-07 14:41] janschikorr-nx commented on #386
We were able to fix the error. The Problem was actually that the referenced Fieldcollection and the `Many-To-Many Object Relation` had exact the same name.

[2021-07-07 15:20] #386 closed, assigned to nobody

[2021-07-07 15:20] weisswurstkanone commented on #386
thx for your feedback

[2021-07-08 01:52] Bongsakorn commented on #283
I encoded/decoded the data in layer application and keep in the text field instead.

[2021-07-16 17:03] longwave opened #389 "Object brick name"
Is there a way of finding which object bricks are selected for a data object through GraphQL?

I have an object brick field named `brick` and I can see the values of the fields inside the bricks, but I also want to know which bricks the user added to the object.

[2021-07-16 17:06] longwave commented on #284
It feels like it would be cleaner if object bricks were available as inline fragments with the `... on` syntax in GraphQL.

[2021-07-22 11:42] Dirndorfer opened #392 "Video thumbnail returns null"
Queries on video thumbs return null.

Tested local and on demo.pimcore.com

With this query:
[code]

I get this return:
[code]

[2021-07-22 12:55] weisswurstkanone commented on #392
@Dirndorfer I created a temporary bugfix which simply returns the first format encountered which is mp4 in this example. In the real world there could be more so I would say there should be an optional "format" argument. Wdyt ?
Do you want to volunteer ? 😄

[2021-07-28 11:43] #392 closed, assigned to weisswurstkanone

[2021-07-29 10:59] shaselboeck opened #396 "Support Import Transformation Pipeline for Data Component "Date" and "Time""
Data Component of the type Datetime can be transformed during the import, but a transformer for Data Component "Date" and "Time" is missing.